<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="">
  <meta name="author" content="">

  

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />

	<script type="text/javascript">  document.documentElement.className += " js";</script>
	<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-page-header">
		<div class="campl-wrap clearfix">
			<div class="campl-column12 campl-banner-content">
				<div class="campl-content-container campl-list-container">
					<ul class="campl-unstyled-list campl-desktop-list-layout">
						<li><a href="date-01.html">A <span class="campl-list-indicator"></span></a></li>
						<li><a href="date-02.html">B <span class="campl-list-indicator"></span></a></li>
						<li><a href="">C <span class="campl-list-indicator"></span></a></li>
						<li><a href="">D <span class="campl-list-indicator"></span></a></li>
						<li><a href="">E <span class="campl-list-indicator"></span></a></li>
						<li><a href="">F <span class="campl-list-indicator"></span></a></li>
						<li><a href="">G <span class="campl-list-indicator"></span></a></li>
						<li><a href="">H <span class="campl-list-indicator"></span></a></li>
						<li><a href="">I <span class="campl-list-indicator"></span></a></li>
						<li><a href="">J <span class="campl-list-indicator"></span></a></li>
						<li><a href="" class='campl-selected'>K <span class="campl-list-indicator"></span></a></li>
						<li><a href="">L <span class="campl-list-indicator"></span></a></li>
						<li><a href="">M <span class="campl-list-indicator"></span></a></li>
						<li><a href="">N <span class="campl-list-indicator"></span></a></li>
						<li><a href="">O <span class="campl-list-indicator"></span></a></li>
						<li><a href="">P <span class="campl-list-indicator"></span></a></li>
						<li><a href="">Q <span class="campl-list-indicator"></span></a></li>
						<li><a href="">R <span class="campl-list-indicator"></span></a></li>
						<li><a href="">S <span class="campl-list-indicator"></span></a></li>
						<li><a href="">T <span class="campl-list-indicator"></span></a></li>
						<li><a href="">U <span class="campl-list-indicator"></span></a></li>
						<li><a href="">V <span class="campl-list-indicator"></span></a></li>
						<li><a href="">W <span class="campl-list-indicator"></span></a></li>
						<li><a href="">X <span class="campl-list-indicator"></span></a></li>
						<li><a href="">Y <span class="campl-list-indicator"></span></a></li>
						<li><a href="">Z <span class="campl-list-indicator"></span></a></li>
					</ul>
					
					<div class="campl-mobile-list-layout">
						<label class="hidden" for="navigation-select">Select</label>
						<select id="navigation-select"> 
							<option value="">please select</option>
							<option value="date-01.html">A</option>
							<option value="date-02.html">B</option>
							<option value="">C</option>
							<option value="">D</option>
							<option value="">E</option>
							<option value="">F</option>
							<option value="">G</option>
							<option value="">H</option>
							<option value="">I</option>
							<option value="">J</option>
							<option value="">K</option>
							<option value="">L</option>
							<option value="">M</option>
							<option value="">N</option>
							<option value="">O</option>
							<option value="">P</option>
							<option value="">Q</option>
							<option value="">R</option>
							<option value="">S</option>
							<option value="">T</option>
							<option value="">U</option>
							<option value="">V</option>
							<option value="">W</option>
							<option value="">X</option>
							<option value="">Y</option>
							<option value="">Z</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="campl-row campl-content">
		<div class="campl-wrap clearfix">
			
			<div class="campl-column12">
				<div class="campl-content-container">
					<p>[Page content would appear below the A-Z index]</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Listing navigation</h3>
				
						<hr />
						<div class="campl-content-container">
							<h4>Usage</h4>
							<p>This navigation element gives the user a quick way to jump to the relevant section of a long alphabetically-ordered list, 
								eg a contact list. At smaller screen widths, the index becomes a drop down menu.</p>
							<hr />
							<h4>Interaction</h4>
							<p>The white triangle appears below the currently-selected letter. If the user rolls over another letter, the white triangle appears below that letter too.</p>
							<hr />
							<h4>CSS and media queries</h4>
								<p>Separate desktop and mobile views are created by using a 767px max-width media query to present a different structure.</p>
								<p>The full width menu is hidden in mobile view and a drop down menu containing the list is displayed instead.</p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>Javascript is used to bind an action to the change event on the drop down menu which redirects users to the page
								specified using window.location.</p>
							<hr />
							<h4>Component variants</h4>
							<p>N/a</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>



