<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />

<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-content">
		<div class="campl-wrap clearfix">
			<div class="campl-column9">
				<p>&nbsp;</p>
			</div>
			<div class="campl-column3 campl-secondary-content">
			
				<div class="campl-content-container">
				
					<div id="calendar" class="calendar-container">
						<ul class="campl-unstyled-list campl-event-dates">
							<li>
								<a href="date-01.html" class="highlighted-dates" data-highlighted="30 08 2012">Event name 01</a>
							</li>
							<li>
								<a href="date-02.html" class="highlighted-dates" data-highlighted="25 09 2012">Event name 02</a>
							</li>
							<li>
								<a href="date-03.html" class="highlighted-dates" data-highlighted="03 08 2012">Event name 02</a>
							</li>
						</ul>
				 	</div>
					
				
				</div>
			</div>
		</div>	
	</div>

	
	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Calendar</h3>

						<hr />
						<div class="campl-content-container">
			
							<h4>Usage</h4>
							<p>The inline calendar component is used to highlight the days on which events occur.</p>
							<hr />
							<h4>Interaction</h4>
							<p>Today's date is always indicated.</p>
							<p>A day can have either highlighted or non-highlighted state to indicate on which days events are occurring.</p>
							<p>The user can click on a highlighted day or the main URL to access more detailed events pages.</p>	
								
							<hr />
							<h4>CSS and media queries</h4>
							<p>The Calendar table styles have been heavily reduced from the original CSS supplied by the library.</p>
							
							<p>Media queries are used to reduce the font size of the calendar in several stages to ensure the full numbering is visible 
								even at the smallest column size. </p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>The calendar requires the inclusion of the Zebra_datepicker Javascript library. This is based
								heavily on the <a href="http://stefangabos.ro/jquery/zebra-datepicker/">Zebra_datepicker calendar</a>.</p>
							<p>The Javascript library has been augmented to allow clickable event dates. The Javascript takes the links
								 marked as highlighted-dates from the markup and inserts the links into the calendar during rendering.</p>
							<p>Users without Javascript will see the links to the highlighted-dates only without a calendar view.</p>
							<p>The calendar component currently only supports one calendar per page.</p>
							<hr />
							<h4>Component variants</h4>
							<p>N/a</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/datepicker_highlighted_events.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
