<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />

<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-page-header">
		<div class="campl-wrap clearfix">
			<div class="campl-column12 campl-recessed-banner campl-banner-content">
				<div class="campl-content-container campl-search-container">
					<label for="full-search" class="hidden">Search site content</label>
					<div class="campl-search-input">
						
						<input id="full-search" type="text" value="" />
						<input type="image" class="campl-search-submit " src="../../images/interface/btn-search-inpage.png" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="campl-row campl-content campl-recessed-content">
		<div class="campl-wrap clearfix">
			
			<div class="campl-column12 ">
				<div class="campl-content-container">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="campl-column6">
					<div class="campl-content-container">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="campl-column6">
					<div class="campl-content-container campl-inpage-search-container">
						<label for="inpage-search" class="hidden">Search page content</label>
						<div class="campl-search-input">
						  <input id="inpage-search" type="text" value=""  />
						  <input type="image" class="campl-search-submit " src="../../images/interface/btn-search-inpage.png" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Contextual search bars</h3>
						<hr />
						<div class="campl-content-container">
							<h4>Usage</h4>
							<p>The contextual search form appears in the main body of the page.</p>
							<hr /><h4>Interaction</h4>
							<p>N/a</p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>N/a</p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>N/a</p>
							<hr />
							<h4>Component variants</h4>
							<p>Note that the main site search can also be scoped to search a local site (see <a href="../core-elements/global-header.html">Global header</a>).</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
