<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />

<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-content">
		<div class="campl-wrap clearfix">	
			<p>Event name 02</p>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
