<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />


<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body class="styleguide">

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-global-header">
		<div class="campl-wrap clearfix">	
			<div class="campl-column9" id="global-header-controls">
				<a href="/project-light" class="campl-main-logo">
					<img alt=""  src="../../images/interface/main-logo-small.svg" height="38px;" class="campl-scale-with-grid" />
				</a>
				<ul class="campl-unstyled-list campl-horizontal-navigation campl-global-navigation">
					<li>
						<a class="campl-no-drawer" href="../../components/core-elements/index.html">Core elements</a>
					</li>
					<li>
						<a class="campl-no-drawer" href="../../components/inpage-components/index.html">In-page components</a>
					</li>
					<li>
						<a class="campl-no-drawer" href="../../template-variants/index.html">Page templates</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	
	<div class="campl-row campl-global-navigation-drawer">
		<div class="campl-wrap clearfix">	
			<div class="campl-column12">
				<ul class="campl-unstyled-list campl-global-navigation-container">
					<li><a href="/project-light">Home</a></li>
					<li><a href="../../components/core-elements/index.html" >Core elements</a></li>
					<li><a href="../../components/inpage-components/index.html" >In-page components</a></li>
					<li><a href="../../template-variants/index.html" >Page templates</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>In-page components</h3>
						<p>A palette of standard components for use on web pages, such as teasers, carousels, calendars and tables.</p>
						<p>For fundamental page elements such as text and form styles, see <a href="../core-elements/index.html">Core components</a>.</p>
						<hr />
						<h4>Content components</h4>
						<ul class="campl-unstyled-list styleguide-menu">
							<li><a href="homepage-carousel.html" title="">Homepage carousel</a></li>
							<li><a href="homepage-teasers.html" title="">Homepage teasers</a></li>
							<li><a href="section-carousel.html" title="">Section page carousel</a></li>
							<li><a href="section-banner.html" title="">Section page banner</a></li>
							<li><a href="teasers.html" title="">Teasers & promo</a></li>
							<li><a href="tables.html" title="">Tables</a></li>
							<li><a href="listing-item.html" title="">Listing components</a></li>
							<li><a href="news-listing.html" title="">News</a></li>
							<li><a href="calendar.html" title="">Calendar</a></li>
							<li><a href="notifications.html" title="">Notifications</a></li>
							<li><a href="tooltip.html" title="">Tooltip</a></li>
							<li><a href="partnership-branding.html" title="">Partnership branding</a></li>
							<li><a href="co-branding.html" title="">Departmental branding</a></li>
							<li><a href="related-links.html" title="">Related links</a></li>
							<li><a href="social-media.html" title="">Social media</a></li>
						</ul>
						<h4>Navigation components</h4>
							<ul class="campl-unstyled-list styleguide-menu">
								<li><a href="pagination.html" title="">Pagination</a></li>
								<li><a href="tabs-pills.html" title="">Tabs/pills</a></li>
								<li><a href="a-z-navigation.html" title="">A-Z navigation</a></li>
								<li><a href="contextual-search.html" title="">Contextual search</a></li>
							</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="campl-row campl-global-footer">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<p>&#169; 2015 University of Cambridge</p>
			</div>
		</div>	
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
