<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />

<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-content" style="background:#fff">
		<div class="campl-wrap clearfix" >
			<div class="campl-column12 ">
				<div class="campl-content-container">
					<h2>Full width layout listing item</h2>

					<div class="campl-listing-item event-listing clearfix">
						<div class="campl-column10">
							<div class="campl-content-container campl-listing-txt">
								<span class="campl-highlight">Highlight</span>
								<p class="campl-listing-title"><a href="#1">Event listing with image</a></p>
								<div class="campl-event-details clearfix">
									<dl class="campl-event-details-dl campl-column3 event-time">
										<dt>Time: </dt><dd>9:00am - 6:00pm</dd>
									</dl>
									<dl class="campl-event-details-dl event-location campl-column9">
										<dt>Location: </dt><dd>Cambridge University Library</dd>
									</dl>	
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="campl-column2">
							<div class="campl-content-container campl-listing-img" >
								<img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" />
							</div>
						</div>
					</div>
					

					
					<div class="campl-listing-item event-listing clearfix">
						<div class="campl-column10">
							<div class="campl-content-container campl-listing-txt">
								<p class="campl-listing-title"><a href="#2">Event listing without details</a></p>
							
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="campl-column2">
							<div class="campl-content-container campl-listing-img" >
								<img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" />
							</div>
						</div>
					</div>
					

					
					
					<div class="campl-listing-item event-listing clearfix">
						<p class="campl-listing-title"><a href="#4">Event listing</a></p>
						<div class="campl-event-details clearfix">
							<dl class="campl-event-details-dl campl-column3 event-time">
								<dt>Time: </dt><dd>9:00am - 6:00pm</dd>
							</dl>
							<dl class="campl-event-details-dl event-location campl-column9">
								<dt>Location: </dt><dd>Cambridge University Library</dd>
							</dl>
						</div>
						<p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					</div>
					

					
					<div class="campl-listing-item campl-search-listing clearfix">
						<div class="campl-column10">
							<div class="campl-content-container campl-listing-txt">
								<p class="campl-listing-title"><a href="#3">Search listing with image </a></p>
								<span class="campl-datestamp">11 Nov 2010</span>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<p><a href=''>Lorem-ipsum-dolor-sit-amet/consectetur-adipisicing-elit/sed-do-eiusmod.html - 19.45kb</a></p>
							</div>
						</div>
						<div class="campl-column2">
							<div class="campl-content-container campl-listing-img">
								<img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" />
							</div>
						</div>
					</div>
					

					
					<div class="campl-listing-item campl-search-listing clearfix">
						<p class="campl-listing-title"><a href="">Search listing </a></p>
						<span class="campl-datestamp">11 Nov 2010</span>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						<p><a href=''>Lorem-ipsum-dolor-sit-amet/consectetur-adipisicing-elit/sed-do-eiusmod.html - 19.45kb</a></p>
					</div>
					

					
					<div class="campl-listing-item profile-listing clearfix">
						<div class="campl-column10">
							<div class="campl-content-container campl-listing-txt">
								<p class="campl-listing-title">
									Position(s):
								</p>
								<ul>
									<li>Head of Department</li>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Consectetur adipisicing elit</li>
									<li>Eiusmod tempor incididunt</li>
								</ul>
								<p><a href="" class="campl-external">Personal website</a></p>
							</div>
						</div>
						<div class="campl-column2">
							<div class="campl-content-container campl-listing-img">
								<img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" />
							</div>
						</div>
					</div>
					
	
				</div>
			</div>
		</div>	
		
		<div class="campl-wrap clearfix">
			<div class="campl-column12">
				<hr />
			</div>
		</div>	
		<div class="campl-wrap clearfix">
			<div class="campl-column3 ">
				&nbsp;
				<!-- this is an empty container. It leaves room for the navigation to be positioned absolutely -->
			</div>
			<div class="campl-column6">
				<div class="campl-content-container">
					<h2>3 column layout listing item</h2>
					<div class="campl-listing-item event-listing clearfix">
						<div class="campl-column8">
							<div class="campl-content-container campl-listing-txt">
								<p class="campl-listing-title"><a href="">Event listing with image</a></p>
								<div class="campl-event-details clearfix">
									<dl class="campl-event-details-dl campl-column3 event-time">
										<dt>Time: </dt><dd>9:00am - 6:00pm</dd>
									</dl>
									<dl class="campl-event-details-dl event-location campl-column9">
										<dt>Location: </dt><dd>Cambridge University Library</dd>
									</dl>	
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							</div>
						</div>
						<div class="campl-column4">
							<div class="campl-content-container campl-listing-img">
								<img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" />
							</div>
						</div>
					</div>
					

					
					<div class="campl-listing-item event-listing clearfix">
						<p class="campl-listing-title"><a href="">Event listing</a></p>
						<div class="campl-event-details clearfix">
							<dl class="campl-event-details-dl campl-column3 event-time">
								<dt>Time: </dt><dd>9:00am - 6:00pm</dd>
							</dl>
							<dl class="campl-event-details-dl event-location campl-column9">
								<dt>Location: </dt><dd>Cambridge University Library</dd>
							</dl>	
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					</div>
					

					
					<div class="campl-listing-item campl-search-listing clearfix">
						<div class="campl-column8">
							<div class="campl-content-container campl-listing-txt">
								<p class="campl-listing-title"><a href="">Search listing with image </a></p>
								<span class="campl-datestamp">11 Nov 2010</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<p><a href=''>Lorem-ipsum-dolor-sit-amet/consectetur-adipisicing-elit/sed-do-eiusmod.html - 19.45kb</a></p>
							</div>
						</div>
						<div class="campl-column4">
							<div class="campl-content-container campl-listing-img">
								<img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" />
							</div>
						</div>
					</div>
					

					
					<div class="campl-listing-item campl-search-listing clearfix">
						<p class="campl-listing-title"><a href="">Search listing </a></p>
						<span class="campl-datestamp">11 Nov 2010</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						<p><a href=''>Lorem-ipsum-dolor-sit-amet/consectetur-adipisicing-elit/sed-do-eiusmod.html - 19.45kb</a></p>
					</div>
					

					
					<div class="campl-listing-item profile-listing clearfix">
						<div class="campl-column8">
							<div class="campl-content-container campl-listing-txt">
								<p class="campl-listing-title">
									Position(s):
								</p>
								<ul>
									<li>Head of Department</li>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Consectetur adipisicing elit</li>
									<li>Eiusmod tempor incididunt</li>
								</ul>
								<p><a href="" class="campl-external">Personal website</a></p>
								</div>
						</div>
						<div class="campl-column4">
							<div class="campl-content-container campl-listing-img">
								<img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" />
							</div>
						</div>
					</div>
					
					
					
				</div>
			</div>
			<div class="campl-column3 campl-secondary-content">
				<div class="campl-content-container  ">
					<p>related content</p>
				</div>
			</div>
		</div>
		<div class="campl-wrap clearfix">
			<div class="campl-column12">
				<hr />
			</div>
		</div>
		
		
		<div class="campl-wrap clearfix">
			<div class="campl-column3 ">
				&nbsp;
			</div>
			<div class="campl-column9">
				<div class="campl-content-container">
					<h2>2 column layout listing item</h2>
					
					<div class="campl-listing-item event-listing clearfix">
						<div class="campl-column9">
							<div class="campl-content-container campl-listing-txt">
								<p class="campl-listing-title"><a href="">Event listing with image</a></p>
								<div class="campl-event-details clearfix">
									<dl class="campl-event-details-dl campl-column3 event-time">
										<dt>Time: </dt><dd>9:00am - 6:00pm</dd>
									</dl>
									<dl class="campl-event-details-dl event-location campl-column9">
										<dt>Location: </dt><dd>Cambridge University Library</dd>
									</dl>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							</div>
						</div>
						<div class="campl-column3">
							<div class="campl-content-container campl-listing-img">
								<img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" />
							</div>
						</div>
					</div>
					

					
					<div class="campl-listing-item event-listing clearfix">
						<p class="campl-listing-title"><a href="">Event listing</a></p>
						<div class="campl-event-details clearfix">
							<dl class="campl-event-details-dl campl-column3 event-time">
								<dt>Time: </dt><dd>9:00am - 6:00pm</dd>
							</dl>
							<dl class="campl-event-details-dl event-location campl-column9">
								<dt>Location: </dt><dd>Cambridge University Library</dd>
							</dl>	
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					</div>
					

					
					<div class="campl-listing-item campl-search-listing clearfix">
						<div class="campl-column9">
							<div class="campl-content-container campl-listing-txt">
								<p class="campl-listing-title"><a href="">Search listing with image </a></p>
								<span class="campl-datestamp">11 Nov 2010</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<p><a href=''>Lorem-ipsum-dolor-sit-amet/consectetur-adipisicing-elit/sed-do-eiusmod.html - 19.45kb</a></p>
							</div>
						</div>
						<div class="campl-column3">
							<div class="campl-content-container campl-listing-img">
								<img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" />
							</div>
						</div>
					</div>
					

					
					<div class="campl-listing-item campl-search-listing clearfix">
						<p class="campl-listing-title"><a href="">Search listing </a></p>
						<span class="campl-datestamp">11 Nov 2010</span>
						<p>Lorem ipsum dolor sit amet, consectetur <span class="campl-search-term">adipisicing</span> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						<p><a href=''>Lorem-ipsum-dolor-sit-amet/consectetur-adipisicing-elit/sed-do-eiusmod.html - 19.45kb</a></p>
					</div>
					

					
					<div class="campl-listing-item profile-listing clearfix">
						<div class="campl-column9">
							<div class="campl-content-container campl-listing-txt">
								<p class="campl-listing-title">
									Position(s):
								</p>
								<ul>
									<li>Head of Department</li>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Consectetur adipisicing elit</li>
									<li>Eiusmod tempor incididunt</li>
								</ul>
								<p><a href="" class="campl-external">Personal website</a></p>
							</div>
						</div>
						<div class="campl-column3">
							<div class="campl-content-container campl-listing-img">
								<img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>listing items</h3>
						<hr />
						<div class="campl-content-container">
							<h4>Usage</h4>
							<p>There are three versions of the listing item, as shown here: the event listing, search results listing 
								and person profile listing.

								Listing items can be added to any page layout variant, in a full-width, 2-column or 3-column page.</p>
							<hr /><h4>Interaction</h4>
							<p>N/a</p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>N/a</p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>N/a</p>
							<hr />
							<h4>Component variants</h4>
							<p>Images are optional.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
