<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />

<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-content">
		<div class="campl-wrap clearfix">
			<div class="campl-column4">
				&nbsp;
			</div>
			<div class="campl-column4">
				<div class="campl-content-container">
					<div class="campl-heading-container">
						<h2>Latest news</h2>
					</div>
				</div>
				<div class="campl-content-container campl-no-top-padding">	
					<div class="campl-listing-item campl-news-listing clearfix">
						<p class="campl-listing-title"><a href="#4">Traumatic childhood may increase the risk of drug addiction</a></p>
						<span class="campl-datestamp">31 August 2012</span>
						<p>Research examines the link between a traumatic upbringing and personality traits which increase the risk of addiction.</p>
					</div>
					<div class="campl-listing-item campl-news-listing clearfix">
						<p class="campl-listing-title"><a href="#4">Ham Hill digs enhance picture of Iron Age life</a></p>
						<span class="campl-datestamp">30 August 2012</span>
						<p>A second season of excavations at Britain’s biggest Iron Age hill-fort has uncovered remains of Roman weaponry, and the site of the first “ham stone” house.</p>
					</div>
					<div class="campl-listing-item campl-news-listing clearfix">
						<p class="campl-listing-title"><a href="#4">Stephen Hawking in Paralympics Opening Ceremony</a></p>
						<span class="campl-datestamp">30 August 2012</span>
						<p>A thought-provoking extravaganza marking the beginning of the Paralympic Games was kicked off yesterday by Professor Stephen Hawking (pictured here at the Technical Rehearsal).</p>
					</div>

					<p><a href="" class="campl-secondary-cta campl-float-right ">View all news</a></p>
				</div>
			</div>
			<div class="campl-column4">
				&nbsp;
			</div>
		</div>
	</div>
	
	
	
	
	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>News</h3>
						<hr />
						<div class="campl-content-container">
							<h4>Usage</h4>
							<p>The news component is comprised of <a href="listing-item.html">listing items</a> without images. A link to a news landing page is included.</p>
							
							<hr />
							<h4>Interaction</h4>
							<p>N/a</p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>N/a</p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>N/a</p>
							<hr />
							<h4>Component variants</h4>
							<p>N/a</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
