<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="">
  <meta name="author" content="">

  

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />

	<script type="text/javascript">  document.documentElement.className += " js";</script>
	<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-content">
		<div class="campl-wrap clearfix">
			<div class="campl-column4">
				&nbsp;
			</div>
			<div class="campl-column3 campl-secondary-content">
				<div class="campl-content-container">
					<div class="campl-heading-container">
						<h2>Related Links</h2>
					</div>
					<ul class='campl-unstyled-list campl-related-links'>
						<li><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><a href="#">Consectetur adipisicing elit</a></li>
						<li><a href="#">Sed do eiusmod tempor incididunt extra long wrapping on to two line</a></li>
						<li><a href="#">Labore et dolore magna aliqua</a></li>
						<li><a href="#">Ut enim ad minim veniam</a></li>
						<li><a href="#">Quis nostrud exercitation ullamco</a></li>
					</ul>
				</div>
			</div>
			<div class="campl-column4">
				&nbsp;
			</div>
		</div>
	</div>
	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Related links</h3>
					
						<hr />
						<div class="campl-content-container">
							<h4>Usage</h4>
							<p>This is a standard link list component that appears in the secondary content columns.</p>
							<p>For use when providing users with supplementary links that might be useful whilst they are browsing a particular piece of content.</p>
							<hr />
							<h4>Interaction</h4>
							<p>N/a</p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>N/a</p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>N/a</p>
							<hr />
							<h4>Component variants</h4>
							<p>N/a</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>



