<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />

<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-page-header">
		<div class="campl-wrap clearfix">
			<div class="campl-column9">
				<div class="section-carousel campl-carousel clearfix campl-banner">
					<div class="campl-carousel-container">
						<ul class="campl-unstyled-list campl-slides">
							<li class="campl-slide campl-column12">
								<div class="image-container">
								<a href="">
									<img alt="" title=""  src="../../images/content/carousel-1.png" class="campl-scale-with-grid" />
								</a>
								</div>
								<div class="campl-slide-caption">
									<a href=""><span class="campl-slide-caption-txt">Consecration debated in chapel. Lorem ipsum dolor sit amet veni vidi vici This is a really long carousel caption to show it wrapping onto two lines</span></a>
								</div>
							</li>
							<li class="campl-slide campl-column12">
								<div class="image-container">
								<a href="">
									<img alt="" title=""  src="../../images/content/carousel-2.png" class="campl-scale-with-grid" />
								</a>
								</div>
								<div class="campl-slide-caption">
									<a href=""><span class="campl-slide-caption-txt">Fine art exhibition showing in Needham college</span></a>
								</div>
							</li>
							<li class="campl-slide campl-column12">
								<div class="image-container">
								<a href="">	
									<img alt="" title=""  src="../../images/content/carousel-3.png" class="campl-scale-with-grid" />
								</a>
								</div>
								<div class="campl-slide-caption">
									<a href=""><span class="campl-slide-caption-txt">Icelandic cairn structure found in east anglia</span></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Section page carousel</h3>
						<hr />
						<div class="campl-content-container">
							<h4>Usage</h4>
							<p>The carousel appears on section pages. It is used to promote key messages. If only a single panel is needed, use the <a href="section-banner.html">Section page banner</a> instead.
							</p>
							<p>Each image in the carousel has a title and alt tag. </p>
						  <p>The title tag must carry the title and credit for the image (if it has one), for example &quot;Particle or wave... Credit: Jurvetson from Flickr&quot;.</p>
						  <p>The alt tag is useful to users who can't view images, and by browsers which don't render images. Use the alt tag if the image is necessary to understanding the meaning of the	link/carousel	item.</p>
						  <hr />
							<h4>Interaction</h4>
							<p>Both the image and the strapline are clickable. By default, the carousel should cycle through the panels every five seconds.
							 If the user interacts with the carousel, the auto-cycle is disabled until the page is reloaded. The left and right arrows 
							cycle between panels. Changing browser width or orientation will also disable the auto-cycle.</p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>Separate desktop and mobile views are created by using a 767px max-width media query to present a different structure.</p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>The caption text is truncated using <a href="http://modernizr.com/">Modernizr</a> to detect media query detection of 1024px max-width to
								prevent wrapping and overlapping of other elements.</p>
							<p>The carousel Javascript must be included in the page. The carousel Javascript dynamically appends navigation buttons
								and numbered indicator to describe the current slide and total slides available.</p>
							<p>The carousel is set to autoplay using a Javascript timeout.</p>
							<p>For mobile users Javascript is also used to calculate the height of the carousel and create full height buttons to increase the hit area. 
								This function will be triggered if a resize event is called in case a user changes orientation whilst viewing the carousel component.</p>
							<hr />
							<h4>Component variants</h4>
							<p>N/a</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
