<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />

<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-content">
		<div class="campl-wrap clearfix">
			<div class="campl-column3">
				<p>&nbsp;</p>
			</div>
			<div class="campl-column6 ">
				<div class="campl-content-container">
					<div class="campl-heading-container">
						<h2 class="campl-light-heading">Share this</h2>
					</div>
				</div>
				<div class="campl-content-container campl-no-top-padding">
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
					<a class="addthis_button_tweet"></a>
					<a class="addthis_button_pinterest_pinit"></a>
					<a class="addthis_counter addthis_pill_style"></a>
					</div>
					<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
					<script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-504f0d4e41e30623"></script>
					<!-- AddThis Button END -->
				</div>
			</div>
			<div class="campl-column3 campl-secondary-content">
				&nbsp;
			</div>
		</div>	
	</div>
	
	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Social media sharing</h3>
						<hr />
						<div class="campl-content-container">
							<h4>Usage</h4>
							<p>The social media component allows room at the bottom of the page template to incorporate any number of social media sharing or linking tools.</p>
							<p>For an example of the component in context, see the <a href="../../template-variants/person-profile-page.html">Person profile page template</a>.</p>							
							<hr />
							<h4>Interaction</h4>
							<p>N/a</p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>N/a</p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>N/a</p>
							<hr />
							<h4>Component variants</h4>
							<p>N/a</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
