<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />


  <script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript"> document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-content">
		<div class="campl-wrap clearfix">
			<div class="campl-column6 campl-main-content">
				<div class="campl-content-container"> 
					<div class="campl-horizontal-teaser campl-teaser clearfix"> 
						<div class="campl-column6">
							<div class="campl-content-container campl-horizontal-teaser-img">
								<a href="#" class="campl-teaser-img-link"><img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" /></a>
							</div>
						</div>
						<div class="campl-column6">
							<div class="campl-content-container campl-horizontal-teaser-txt">
								<h3 class='campl-teaser-title'><a href="#">The MML tripos</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<a href="#" class="campl-primary-cta">Read more</a>
							</div>
						</div>
					</div>
				</div>

				<div class="campl-column12">
					<div class="campl-side-padding campl-content-container">
						<hr class="campl-teaser-divider" />
					</div>
				</div>
				<div class="campl-content-container">
					<div class="campl-horizontal-teaser campl-teaser clearfix"> 
						<div class="campl-column6">
							<div class="campl-content-container campl-horizontal-teaser-img">
								<a href="#" class="campl-teaser-img-link"><img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" /></a>
							</div>
						</div>
						<div class="campl-column6">
							<div class="campl-content-container campl-horizontal-teaser-txt">
								<h3 class='campl-teaser-title'><a href="#">The MML tripos</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<a href="#" class="campl-primary-cta">Read more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="campl-column12">
					<div class="campl-side-padding campl-content-container">
						<hr class="campl-teaser-divider" />
					</div>
				</div>
				<div class="campl-content-container">
					<div class="campl-horizontal-teaser campl-teaser clearfix"> 
						<h3 class='campl-teaser-title'><a href="#">The MML tripos</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						<a href="#" class="campl-primary-cta">Read more</a>
					</div>
				</div>	
				<div class="campl-column12">
					<div class="campl-side-padding campl-content-container">
						<hr class="campl-teaser-divider" />
					</div>
				</div>
			

				<div class="campl-column6">
					<div class="campl-content-container">
						<div class="campl-vertical-teaser campl-teaser audio-teaser"> 
							<div class="campl-content-container campl-vertical-teaser-img">
								<a href="#" class="campl-teaser-img-link">
									<span class="campl-audio-overlay campl-overlay ir"></span>
									<img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" />
								</a>
							</div>
							<div class="campl-content-container campl-vertical-teaser-txt">
								<h3 class='campl-teaser-title'><a href="#">The MML tripos</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<a href="#1" class="campl-secondary-cta">Descriptive link CTA</a>
							</div>
						</div>
					</div>
				</div>
				<div class="campl-column6">
					<div class="campl-content-container">
						<div class="campl-vertical-teaser campl-teaser video-teaser"> 
							<div class="campl-content-container campl-vertical-teaser-img">
								<a href="#" class="campl-teaser-img-link">
									<span class="campl-video-overlay campl-overlay ir"></span>
									<img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" />
								</a>
							</div>
							<div class="campl-content-container campl-vertical-teaser-txt">
								<h3 class='campl-teaser-title'><a href="#">The MML tripos</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<a href="#2" class="campl-secondary-cta">Descriptive link CTA</a>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
			<div class="campl-column3">
				<div class="campl-content-container campl-sub-column-left-border"> 
					<div class="campl-vertical-teaser campl-teaser"> 
						<div class="campl-content-container campl-vertical-teaser-img">
							<a href="#" class="campl-teaser-img-link"><img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" /></a>
						</div>
						<div class="campl-content-container campl-vertical-teaser-txt">
							<h3 class='campl-teaser-title'><a href="#">The MML tripos</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							<a href="#" class="campl-primary-cta">Read more</a>
						</div>
					</div>
				</div>
				<div class="campl-column12">
					<div class="campl-side-padding campl-content-container campl-sub-column-left-border">
						<hr class="campl-teaser-divider" />
					</div>
				</div>
				<div class="campl-content-container campl-sub-column-left-border"> 
					<div class="campl-vertical-teaser campl-teaser"> 
						<div class="campl-content-container campl-vertical-teaser-img">
							<a href="#" class="campl-teaser-img-link"><img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" /></a>
						</div>
						<div class="campl-content-container campl-vertical-teaser-txt">
							<h3 class='campl-teaser-title'><a href="#">The MML tripos</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							<a href="#" class="campl-primary-cta">Read more</a>
						</div>
					</div>
				</div>	
				<div class="campl-column12">
					<div class="campl-side-padding campl-content-container campl-sub-column-left-border">
						<hr class="campl-teaser-divider" />
					</div>
				</div>
				<div class="campl-content-container campl-sub-column-left-border"> 
					<div class="campl-vertical-teaser campl-teaser"> 
						<h3 class='campl-teaser-title'><a href="#">The MML tripos</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						<a href="#" class="campl-primary-cta">Read more</a>
					</div>
				</div>
			</div>
			
			<div class="campl-column3 campl-secondary-content ">
				<div class="campl-content-container">
					
					<div class="campl-vertical-teaser campl-teaser campl-promo-teaser"> 
						<div class="campl-content-container campl-vertical-teaser-txt">
							<p class='campl-teaser-title'><a href="#">Promo teaser with title above</a></p>
						</div>
						<div class="campl-content-container campl-vertical-teaser-img">
							<a href="#" class="campl-teaser-img-link"><img alt=""  src="../../images/content/homepage-promo-placeholder.png" class="campl-scale-with-grid" /></a>
						</div>
						<div class="campl-content-container campl-vertical-teaser-txt clearfix">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							<a href="#4" class="campl-secondary-cta campl-float-right">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Teasers &amp; Promo teasers</h3>
						<hr />
						<div class="campl-content-container">
						<h4>Usage: Teasers</h4>
							<p>Teasers are easily-scannable signposts to content.</p>
							
							<p>Teasers may be functional - prominently indicating the way to something the user will be looking for 
								- or promotional, aiming to interest the user in something of which they weren't previously aware.</p>
	
							<img src="../../images/styleguide/teaser1.png" class="campl-scale-with-grid"/>

							<p>Teasers may only be used in the main body content section of a page, as below.</p>
							<img src="../../images/styleguide/teaser2.png" class="campl-scale-with-grid"/>
							
							<p>Audio and video teasers are signposts to video/audio content. They link to other pages that contain the audio or 
							video content; the content does not play out in the teaser. They behave as standard teasers but their icons denote that they link to audio or video content.</p>

							
							<h4>Usage: Promos</h4>
							<p>Promos contain brief promotional messages. </p>
							<img src="../../images/styleguide/promo1.png" class="campl-scale-with-grid"/>
							

							<p>Promos can only be used in the 'Promotional content' section in the fourth column at maximum width view:</p>
							<img src="../../images/styleguide/promo2.png" class="campl-scale-with-grid"/>
												
							<hr />
							<h4>Interaction</h4>
							<p>Image, title and URL are all clickable on both teasers and promos.</p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>For mobile screen resolution media queries are used to reduce the padding between text and images when the structure becomes vertically
								 stacking instead of horizontal columns.</p>
							<p>Audio/video overlay icons are positioned in the bottom left corner instead of bottom right corner on mobile resolutions to ensure they
								are always overlaid on top of the image beneath.</p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>N/a</p>
							<hr />
							<h4>Component variants</h4>
							<p>Teasers can be implemented horizontally or vertically - but they will always appear vertically-orientated at small screen widths.</p>
							<p>The image, heading and call to action button/link are all optional.</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
