<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />

<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

<div class="campl-row campl-content">
	<div class="campl-wrap clearfix">
		<div class="campl-column3">
			<p>&nbsp;</p>
		</div>
		<div class="campl-column6">
			<div class="campl-content-container">	
				<form action="">
					<fieldset>
						<legend>Standard form elements</legend>
						<div class="campl-control-group">
					    	<label for="input">Input</label>
					    	<div class="campl-controls">
					      		<input id="input" type="text" value="Basic input" />
					    	</div>
					  	</div>
					
						<div class="campl-control-group">
					    	<label for="textarea">Textarea</label>
					    	<div class="campl-controls">
					      		<textarea rows="3" id="textarea" cols=""></textarea>
					    	</div>
					  	</div>
					
						<div class="campl-control-group">
					    	<label for="select">Select</label>
					    	<div class="campl-controls">
					      		<select id="select">
						        <option>1</option>
						        <option>2</option>
						        <option>3</option>
						        <option>4</option>
						        <option>5</option>
						      </select>
					    	</div>
					  	</div>
					
					  	<div class="campl-control-group">
						    <label class="control-label" for="optionsCheckboxList">Checkboxes</label>
						    <div class="campl-controls">
						      <label class="campl-checkbox">
						        <input type="checkbox" name="optionsCheckboxList1" value="option1" />
						        Option one 
						      </label>
						      <label class="campl-checkbox">
						        <input type="checkbox" name="optionsCheckboxList2" value="option2" />
						        Option two 
						      </label>
						      <label class="campl-checkbox">
						        <input type="checkbox" name="optionsCheckboxList3" value="option3" />
						        Option three 
						      </label>
						      </div>
						  </div>
					  
						  <div class="campl-control-group">
							    <label class="control-label" for="inlineCheckboxes">Inline checkboxes</label>
							    <div class="campl-controls">
							      <label class="campl-checkbox inline">
							        <input type="checkbox" id="inlineCheckbox1" value="option1" /> 1
							      </label>
							      <label class="campl-checkbox inline">
							        <input type="checkbox" id="inlineCheckbox2" value="option2" /> 2
							      </label>
							      <label class="campl-checkbox inline">
							        <input type="checkbox" id="inlineCheckbox3" value="option3" /> 3
							      </label>
							    </div>
							</div>
							
							
							<div class="campl-control-group">
						    	<label class="control-label">Radio buttons</label>
						    	<div class="campl-controls">
							      <label class="campl-radio">
							        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"  />
							        Option one
							      </label>
							      <label class="campl-radio">
							        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" />
							        Option two 
							      </label>
							    </div>
							</div>
							<span class="campl-help-block">This is an example of guidance text to give supplementary information to the user about completion of the form.</span>
					  	<div class="campl-form-actions">
							<button type="button" class="campl-btn">Button</button>
							<button type="reset" class="campl-btn">Reset</button>
							<button class="campl-btn">Cancel</button>
						    <button type="submit" class="campl-btn campl-primary-cta">Submit</button>
						    
						  </div>
					
						</fieldset>
					</form>
				
					<form action="">
						<fieldset>
							<legend>Form field variants</legend>
							<div class="campl-control-group">
						    	<label for="block-input">Block level input</label>
						    	<div class="campl-controls">
						      		<input id="block-input" type="text" value="Stretching to fill container" class="campl-input-block-level" />
						    	</div>
						  	</div>
							<div class="campl-control-group">
						    	<label for="campl-input-mini">Input mini</label>
						    	<div class="campl-controls">
						      		<input id="campl-input-mini" type="text" value="Mini" class="campl-input-mini" />
						    	</div>
						  	</div>
							<div class="campl-control-group">
						    	<label for="campl-input-small">Input small</label>
						    	<div class="campl-controls">
						      		<input id="campl-input-small" type="text" value="Small" class="campl-input-small" />
						    	</div>
						  	</div>
							<div class="campl-control-group">
						    	<label for="campl-input-medium">Input medium</label>
						    	<div class="campl-controls">
						      		<input id="campl-input-medium" type="text" value="Medium" class="campl-input-medium" />
						    	</div>
						  	</div>
					
							<div class="campl-control-group">
						    	<label for="campl-input-large">Input large</label>
						    	<div class="campl-controls">
						      		<input id="campl-input-large" type="text" value="Large" class="campl-input-large" />
						    	</div>
						  	</div>
					
							<div class="campl-control-group">
						    	<label for="campl-input-xlarge">Input extra large</label>
						    	<div class="campl-controls">
						      		<input id="campl-input-xlarge" type="text" value="X large" class="campl-input-xlarge" />
						    	</div>
						  	</div>

						</fieldset>
					</form>
				
						
					<form action="">
						<fieldset>
							<legend>Form field action states</legend>
							
							<div class="campl-control-group">
						    	<label class="control-label" for="disabledInput">Disabled input</label>
						    	<div class="campl-controls">
						      		<input class=" disabled" id="disabledInput" type="text" placeholder="Disabled input here…" disabled="disabled" />
						    	</div>
						  	</div>
						
						  	<div class="campl-control-group">
							    <label class="control-label" for="optionsdisabledCheckbox2">Disabled checkbox</label>
							    <div class="campl-controls">
							      <label class="campl-checkbox">
							        <input type="checkbox" id="optionsdisabledCheckbox2" value="option1" disabled="disabled" />
							        This is a disabled checkbox
							      </label>
							    </div>
							  </div>
							
							 <div class="campl-control-group">
							    <label class="control-label">Uneditable input</label>
							    <div class="campl-controls">
							      <span class="campl-uneditable-input">Some value here</span>
							    </div>
							  </div>
							
							<div class="campl-control-group">
						    	<label for="Uneditabletextarea">Uneditable textarea</label>
						    	<div class="campl-controls">
										<textarea id="Uneditabletextarea"  disabled="disabled" class="campl-uneditable-textarea"  cols="" rows="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>
						    	</div>
						  	</div>
						
							<div class="campl-control-group">
						    	<label for="Invalidinput">Invalid input</label>
						    	<div class="campl-controls">
						      		<input type="email" name="email" rel="required" id="Invalidinput" value="xyz"/>
						    	</div>
						  	</div>
						
							<div class="campl-control-group">
						    	<label for="readinput">Read only input</label>
						    	<div class="campl-controls">
						      		<input type='text' id="readinput" value="xyz" readonly='readonly'/>
						    	</div>
						  	</div>

							<div class="campl-form-actions">
								<button type="button" class="campl-btn disabled" disabled="disabled">Disabled Button</button>
							</div>
	
						</fieldset>
					</form>
					<form action="">
						<fieldset>
							<legend>Form state Visual indicators</legend>
							
							  <div class="campl-control-group campl-warning">
							    <label class="control-label" for="inputWarning">Input with warning</label>
							    <div class="campl-controls">
							      <input type="text" id="inputWarning" />
							      <span class="campl-help-block">Something may have gone wrong</span>
							    </div>
							  </div>
							
							
								<div class="campl-control-group campl-warning">
							    	<label for="textareaWarning">textarea</label>
							    	<div class="campl-controls">
							      		<textarea rows="3" id="textareaWarning"  cols=""></textarea>
							    	</div>
							  	</div>

								<div class="campl-control-group campl-warning">
							    	<label for="selectWarning">select</label>
							    	<div class="campl-controls">
							      		<select id="selectWarning">
								        <option>1</option>
								        <option>2</option>
								        <option>3</option>
								        <option>4</option>
								        <option>5</option>
								      </select>
							    	</div>
							  	</div>

							  	<div class="campl-control-group campl-warning">
								    <label class="control-label" for="optionsCheckboxListWarning">Checkboxes</label>
								    <div class="campl-controls">
								      <label class="campl-checkbox">
								        <input type="checkbox" name="optionsCheckboxList1Warning" value="option1" />
								        Option one 
								      </label>
									</div>
							  	</div>
							
								<div class="campl-control-group campl-warning">
							    	<label class="control-label">Radio buttons</label>
							    	<div class="campl-controls">
								      <label class="campl-radio">
								        <input type="radio" name="optionsRadios" id="optionsRadios1Warning" value="option1"  />
								        Option one
								      </label>
									</div>
							  	</div>
							
							
								<hr />
							
							  <div class="campl-control-group campl-error">
							    <label class="control-label" for="inputError">Input with error</label>
							    <div class="campl-controls">
							      <input type="text" id="inputError" />
							      <span class="campl-help-block">Please correct the error</span>
							    </div>
							  </div>
							  <div class="campl-control-group campl-success">
							    <label class="control-label" for="inputSuccess">Input with success</label>
							    <div class="campl-controls">
							      <input type="text" id="inputSuccess" />
							      <span class="campl-help-block">This is a success message</span>
							    </div>
							  </div>
						</fieldset>
					</form>

			</div>
		</div>
		<div class="campl-column3 campl-secondary-content">
			&nbsp;
		</div>
	</div>	
</div>
	
	
	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Form elements</h3>
						
						<hr />
						<div class="campl-content-container">
							<h4>Usage</h4>
							<p>The form elements display an example of all possible permutations of the form styles, including: disabled, read only, invalid and
								 uneditable.</p>
							<p>Forms can be used with fixed dimensions or stretching to fill the full width of the containing div. All form elements 
								must be displayed in a vertical structure and not floated in a horizontal manner to prevent issues at lower screen sizes.
								 The only exception to this is checkboxes with simple labels. </p>
							
							<hr />
							<h4>Interaction</h4>
							<p>Forms can also be colour coded to give extra feedback to the user during validating. Please bear in mind those with colour
								blindness and do not implement instructions in colours that could be hidden from those users.</p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>Form styles are borrowed from <a href="http://twitter.github.com/bootstrap/base-css.html#forms">Twitter Bootstrap</a>, 
								however they have been customised heavily to remove a large amount of unwanted styles to reduce code bloat. The examples above should
								demonstrate every permutation available with the existing form styles.</p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>N/a</p>
							<hr />
							<h4>Component variants</h4>
							<p>N/a</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../..javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
