<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />

<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-global-header">
		<div class="campl-wrap clearfix">	
			<div class="campl-header-container campl-column8" id="global-header-controls">
				<a href="http://www.cam.ac.uk" class="campl-main-logo">
					<img alt="University of Cambridge"  src="../../images/interface/main-logo-small.svg" height="38px;" />
				</a>

				<ul class="campl-unstyled-list campl-horizontal-navigation campl-global-navigation clearfix">
					<li>
						<a  href="#study-with-us" >Study at Cambridge</a>
					</li>
					<li>
						<a href="#about-the-university" >About the University</a>
					</li>
					<li>
						<a href="http://www.cam.ac.uk/research" class="campl-no-drawer" >Research at Cambridge</a>
					</li>
				</ul>
			</div>
				
			<div class="campl-column2">
				<div class="campl-quicklinks">
				</div>
			</div>
				
			<div class="campl-column2">
				
				<div class="campl-site-search" id="site-search-btn">

					<label for="header-search" class="hidden">Search site</label>
					<div class="campl-search-input">
						<form action="http://search.cam.ac.uk/web" method="get">
						<input id="header-search" type="text" name="query" value="" placeholder="Search"/>
						
						<input type="image" class="campl-search-submit " src="../../images/interface/btn-search-header.png"/>
						</form>
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="campl-row campl-global-header campl-search-drawer">
		<div class="campl-wrap clearfix">
			<form class="campl-site-search-form" id="site-search-container" action="">
				<div class="campl-search-form-wrapper clearfix">
					<input type="text" class="text" placeholder="Search"/>
					<input type="image" class="campl-search-submit" src="../../images/interface/btn-search.png" />
				</div>
			</form>
		</div>
	</div>
	
	<div class="campl-row campl-global-navigation-drawer">

		<div class="campl-wrap clearfix">	
			<div class="campl-column12 campl-home-link-container">
				<a href="" >Home</a>
			</div>
		</div>
		<div class="campl-wrap clearfix">		
			<div class="campl-column12 campl-global-navigation-mobile-list campl-global-navigation-list">
				<div class="campl-global-navigation-outer clearfix" id="study-with-us">
					<ul class="campl-unstyled-list campl-global-navigation-header-container ">
						<li><a href="http://www.cam.ac.uk/study-at-cambridge" >Study at Cambridge</a></li>
					</ul>
					<div class="campl-column4">
						<ul class="campl-global-navigation-container campl-unstyled-list campl-global-navigation-secondary-with-children">
							<li>
								<a href="http://www.study.cam.ac.uk/undergraduate/" >Undergraduate</a>
								<ul class="campl-global-navigation-tertiary campl-unstyled-list">
									<li>
										<a href="http://www.study.cam.ac.uk/undergraduate/courses/" >Courses</a>
									</li>
									<li>
										<a href="http://www.study.cam.ac.uk/undergraduate/apply/" >Applying</a>
									</li>
									<li>
										<a href="http://www.study.cam.ac.uk/undergraduate/events/" >Events and open days</a>
									</li>
								  <li>
										<a href="http://www.study.cam.ac.uk/undergraduate/finance/" >Fees and finance</a>
									</li>
								  <li>
										<a href="http://www.becambridge.com/" >Student blogs and videos</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="campl-column4">
						<ul class="campl-global-navigation-container campl-unstyled-list campl-global-navigation-secondary-with-children">
							<li>
								<a href="http://www.graduate.study.cam.ac.uk/" >Graduate</a>
								<ul class="campl-global-navigation-tertiary campl-unstyled-list">
									<li>
										<a href="http://www.graduate.study.cam.ac.uk/why-cambridge/welcome-vice-chancellor" >Why Cambridge</a>
									</li>
									<li>
										<a href="http://www.graduate.study.cam.ac.uk/courses
" >Course directory</a>
									</li>
									<li>
									<a href="http://www.graduate.study.cam.ac.uk/how-do-i-apply" >How to apply</a></li>
									<li><a href="http://www.admin.cam.ac.uk/students/studentregistry/fees/" >Fees and funding</a></li>
									<li><a href="http://www.graduate.study.cam.ac.uk/faqs/applicant" >Frequently asked questions</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="campl-column4">
						<ul class="campl-global-navigation-container campl-unstyled-list last">
							<li>
								<a href="http://www.internationalstudents.cam.ac.uk" >International students</a>
							</li>
							<li>
								<a href="http://www.ice.cam.ac.uk" >Continuing education</a>
							</li>
							<li>
								<a href="http://www.epe.admin.cam.ac.uk/" >Executive and professional education</a>
							</li>
							<li>
								<a href="http://www.educ.cam.ac.uk" >Courses in education</a>
							</li>
						</ul>
					</div>
				</div>	

				<div class="campl-global-navigation-outer clearfix" id="about-the-university">
					<ul class="campl-global-navigation-header-container campl-unstyled-list">
						<li><a href="http://www.cam.ac.uk/about-the-university" >About the University</a></li>
					</ul>
					<div class="campl-column4">
						<ul class="campl-global-navigation-container campl-unstyled-list">
							<li>
								<a href="http://www.cam.ac.uk/about-the-university/how-the-university-and-colleges-work" >How the University and Colleges work</a>
							</li>
							<li>
								<a href="http://www.cam.ac.uk/about-the-university/history" >History</a>
							</li>	
							<li>
								<a href="http://www.cam.ac.uk/about-the-university/visiting-the-university" >Visiting the University</a>
							</li>
							<li>
								<a href="http://www.cam.ac.uk/about-the-university/term-dates-and-calendars" >Term dates and calendars</a>
							</li>
							<li class="last">
								<a href="http://map.cam.ac.uk" >Map</a>
							</li>
						</ul>
					</div>
					<div class="campl-column4">
						<ul class="campl-global-navigation-container campl-unstyled-list">
							<li>
								<a href="http://www.cam.ac.uk/media-relations" >For media</a>
							</li>
							<li>
								<a href="http://www.cam.ac.uk/video-and-audio" >Video and audio</a>
							</li>
							<li>
								<a href="http://webservices.admin.cam.ac.uk/fae/" >Find an expert</a>
							</li>
							<li>
								<a href="http://www.cam.ac.uk/about-the-university/publications" >Publications</a>
							</li>
							<li class="last">
								<a href="http://www.cam.ac.uk/global-cambridge" >Global Cambridge</a>
							</li>
						</ul>
					</div>
					<div class="campl-column4">
						<ul class="campl-global-navigation-container campl-unstyled-list">
							<li>
								<a href="http://www.cam.ac.uk/news" >News</a>
							</li>
							<li>
								<a href="http://www.admin.cam.ac.uk/whatson/" >Events</a>
							</li>
							<li>
								<a href="http://www.cam.ac.uk/public-engagement" >Public engagement</a>
							</li>
							<li>
								<a href="http://www.jobs.cam.ac.uk" >Jobs</a>
							</li>
							<li class="last">
								<a href="https://philanthropy.cam.ac.uk" >Give to Cambridge</a>
							</li>
						</ul>
					</div>
				</div>	

				<div class="campl-global-navigation-outer clearfix" id="our-research">
					<ul class="campl-global-navigation-header-container campl-unstyled-list">
						<li><a href="" >Research at Cambridge</a></li>
					</ul>
				</div>
			</div>

			<ul class="campl-unstyled-list campl-quicklinks-list campl-global-navigation-container ">
				<li>
					<a href="http://www.cam.ac.uk/for-staff" >For staff</a>
				</li>
				<li>
					<a href="http://www.cam.ac.uk/current-students" >For current students</a>
				</li>
				<li>
					<a href="http://www.alumni.cam.ac.uk" >For alumni</a>
				</li>
				<li>
					<a href="http://www.cam.ac.uk/for-business" >For business</a>
				</li>
				<li>
					<a href="http://www.cam.ac.uk/colleges-and-departments" >Colleges &amp; departments</a>
				</li>
				<li>
					<a href="http://www.lib.cam.ac.uk/libraries/" >Libraries &amp; facilities</a>
				</li>
				<li>
					<a href="http://www.cam.ac.uk/museums-and-collections" >Museums &amp; collections</a>
				</li>
				<li class="last">
					<a href="http://www.cam.ac.uk/email-and-phone-search" >Email &amp; phone search</a>
				</li>
			</ul>
		</div>
	</div>
    <!-- .campl-global-header ends -->
	
	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Global header</h3>
						<hr />
						<div class="campl-content-container">
							<h4>Usage</h4>
							<p>This standard global header appears on all Cambridge sites. It provides a consistent way
								 to navigate to key destinations and helps visitors to instantly associate any Cambridge
								 website with the University.</p>

							<p>The global header should not be edited in any way, with the exception of the search box. 
								The search box can be set to perform a search scoped to the current Faculty/institution, 
								rather than searching all University content. In this case, the <a href="../../template-variants/search-results.html">search results page</a> will 
								display the scoped results by default.</p>
							
							<h5>Larger screen widths</h5>
							<p>The three primary links provide a consistent, prominent route to the University's key strategic content areas.</p>

							<p>At full screen width, clicking these links exposes a menu that pushes the rest of the page content down. 
								The menu displays top-level links for each category, with the option to include some summary copy below the section title.</p>

							<p>Further common destinations appear within the Quick links menu.</p>

							<h5>Smaller screen widths</h5>
							<p>At smaller screen widths, the three primary links and Quick links all appear in one menu launched from a single button at the top left of the page.</p>
							<hr />
							<h4>Interaction</h4>
							<p>Opening any menu item, Quick links, Search or navigation menu should close any other open panel. </p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>Separate desktop and mobile views are created by using a 767px max-width media query to present a different navigation structure for global navigation items and Quick link items.</p>
							<p>A separate search form field is inserted for mobile users and hidden from view for desktop users.<p>
							<p>A Home button link is available at the top of the mobile navigation hidden by CSS from desktop users.</p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>The first two primary navigation items open a mega drop down menu. A close button is dynamically appended to the megadropdown containers.
								and a click event is bound to both the primary navigation and close buttons to control the open and close mechanism for the menu.</p>
							<p>Users without Javascript will see both menus opened by default.</p>
							
							<p>The Quick links panel is dynamically created by cloning links from the navigation and appending them to the Quick links container.</p>
							<p>The Quick links button is also dynamically appended to the header and a click event is bound to this to control the open and close 
								mechanism of the Quick links container. There is also a click event bound to the HTML tag which allows a user to click anywhere on 
								screen to close the Quick links container.</p>
							<p>Users without Javascript will see the Quick links below the navigation items where they appear in the HTML markup.</p>
							
							<p>Mobile users will be given two menu items controlled by the search and navigation buttons. These buttons are dynamically appended using Javascript.</p>
							<p>The Search button opens a drawer below the header with a search field. The navigation button appends a class to the body tag which moves the body of the
								 HTML to display the navigation in a side drawer.</p>
							<p>Menu items are not available to mobile users without Javascript.</p>
							
							<p>Javascript is also used to create equal height columns in the megadropdown drawer and in the primary navigation links. The columns in the megadropdown drawer
								 are hardcoded to a height of 300px. Users without Javascript will see the primary navigation links and megadropdown columns rendered at their original height. </p>
							<hr />
							<h4>Component variants</h4>
							<p>A variation of the header is implemented on the main University homepage to differentiate it from internal pages. The homepage header variant can be viewed <a href="../../template-variants/homepage.html">here</a>.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
