<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />

<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-homepage-header">
		<div class="campl-wrap clearfix">	
			<div class="campl-header-container campl-column8" id="global-header-controls">
				<a href="/" class="campl-main-logo">
					<img alt=""  src="../../images/interface/main-logo-small.svg" height="38px;" />
				</a>

				<ul class="campl-unstyled-list campl-horizontal-navigation campl-global-navigation">
					<li>
						<a href="#study-with-us">Study at Cambridge</a>
					</li>
					<li>
						<a href="#about-the-university">About the University</a>
					</li>
					<li>
						<a href="" class="campl-no-drawer">Research at Cambridge</a>
					</li>
				</ul>
			</div>
				
			<div class="campl-column4">
				
				<div class="campl-site-search" id="site-search-btn">

					<label for="header-search" class="hidden">Search site</label>
					<div class="campl-search-input">

						<input id="header-search" type="text" value="" placeholder="Search"/>
						
						<input type="image" class="campl-search-submit " src="../../images/interface/btn-search-header.png"/>
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="campl-row campl-global-header campl-search-drawer">
		<div class="campl-wrap clearfix">
			<form class="campl-site-search-form" id="site-search-container" action="">
				<div class="campl-search-form-wrapper clearfix">
					<input type="text" class="text" placeholder="Search"/>
					<input type="image" class="campl-search-submit" src="../../images/interface/btn-search.png" />
				</div>
			</form>
		</div>
	</div>
	
	<div class="campl-row campl-global-navigation-drawer">

		<div class="campl-wrap clearfix">	
			<div class="campl-column12 campl-home-link-container">
				<a href="" >Home</a>
			</div>
		</div>
		<div class="campl-wrap clearfix">		
			<div class="campl-column9 campl-global-navigation-mobile-list">
				<div class="campl-global-navigation-outer clearfix" id="study-with-us">
					<ul class="campl-unstyled-list campl-global-navigation-header-container ">
						<li><a href="" >Study at Cambridge</a></li>
					</ul>
					<div class="campl-column4">
						<ul class="campl-global-navigation-container campl-unstyled-list campl-global-navigation-secondary-with-children">
							<li>
								<a href="">Undergraduate</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul class="campl-global-navigation-tertiary campl-unstyled-list">
									<li>
										<a href="" >Link 1</a>
									</li>
									<li>
										<a href="" >Link 2</a>
									</li>
									<li class="last">
										<a href="" >Link 3</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="campl-column4">
						<ul class="campl-global-navigation-container campl-unstyled-list campl-global-navigation-secondary-with-children">
							<li>
								<a href="">Graduate</a>
								<ul class="campl-global-navigation-tertiary campl-unstyled-list">
									<li>
										<a href="" >Link 1</a>
									</li>
									<li>
										<a href="" >Link 2</a>
									</li>
									<li class="last">
										<a href="" >Link 3</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="campl-column4">
						<ul class="campl-global-navigation-container campl-unstyled-list related-pages last">
							<li>
								<a href="" >International students</a>
							</li>
							<li>
								<a href="" >Lifelong learning</a>
							</li>
							<li>
								<a href="" >Professional learning</a>
							</li>
							<li class="last">
								<a href="" >Courses in education</a>
							</li>
						</ul>
					</div>
				</div>	

				<div class="campl-global-navigation-outer clearfix" id="about-the-university">
					<ul class="campl-global-navigation-header-container campl-unstyled-list">
						<li><a href="" >About the University</a></li>
					</ul>
					<div class="campl-column4">
						<ul class="campl-global-navigation-container campl-unstyled-list">
							<li>
								<a href="" >How the University and Colleges work</a>
							</li>
							<li>
								<a href="">History</a>
							</li>	
							<li>
								<a href="" >Visiting the University</a>
							</li>
							<li class="last">
								<a href="" >Maps</a>
							</li>
						</ul>
					</div>
					<div class="campl-column4">
						<ul class="campl-global-navigation-container campl-unstyled-list">
							<li>
								<a href="" >For media</a>
							</li>
							<li>
								<a href="" >Find an expert</a>
							</li>
							<li>
								<a href="">Publications</a>
							</li>
							<li class="last">
								<a href="">International Cambridge</a>
							</li>
						</ul>
					</div>
					<div class="campl-column4">
						<ul class="campl-global-navigation-container campl-unstyled-list">
							<li>
								<a href="" >News &amp; events</a>
							</li>
							<li>
								<a href="" >Public engagement</a>
							</li>
							<li>
								<a href="" >Jobs</a>
							</li>
							<li class="last">
								<a href="https://philanthropy.cam.ac.uk" >Give to Cambridge</a>
							</li>
						</ul>
					</div>
				</div>	

				<div class="campl-global-navigation-outer clearfix" id="our-research">
					<ul class="campl-global-navigation-header-container campl-unstyled-list">
						<li><a href="" >Research at Cambridge</a></li>
					</ul>
				</div>
			</div>
			<div class="campl-column3">
				<ul class="campl-unstyled-list campl-quicklinks-list campl-global-navigation-container ">
					<li>
						<a href="">For staff &amp; students</a>
					</li>
					<li>
						<a href="">For alumni</a>
					</li>
					<li>
						<a href="">For business</a>
					</li>
					<li>
						<a href="">For teachers</a>
					</li>
					<li>
						<a href="">Colleges &amp; departments</a>
					</li>
					<li>
						<a href="">Libraries &amp; facilities</a>
					</li>
					<li>
						<a href="">Museums &amp; collections</a>
					</li>
					<li class="last">
						<a href="">Email &amp; phone search</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	
	
	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Homepage Header</h3>
						
						<hr />
						<div class="campl-content-container">
							<h4>Usage</h4>
							<p>The homepage header is a variant of the global header for use on the homepage only.</p>
							<p>The Quick links and site logo have been removed to give them more prominence further down the page.</p>
							<p>The search and primary navigation should behave identically to the global header.</p>
							<hr />
							<h4>Interaction</h4>
							<p>See notes on global header component.</p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>See notes on global header component.</p>
							<hr />
							<h4>See notes on global header component.</h4>
							<p>N/a</p>
							<hr />
							<h4>Component variants</h4>
							<p>See notes on global header component.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
