<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />



<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-content">
		<div class="campl-wrap clearfix">
			<div class="campl-column3">
				<p>&nbsp;</p>
			</div>
			<div class="campl-column6">
				<div class="campl-column12">
					<div class="campl-content-container">
						<h3>Inline images set to scale</h3>
						<p>Images will expand in size until they reach their full dimensions. Images larger than their containing div will shrink to fill the capacity of the container they are in.</p>
						
						<div class="campl-content-container">
							<h4>Image dimensions of the following image are: 883px x 431px.</h4>
							<p>This size is used for image carousels on landing pages (e.g. departmental home pages).</p>
							<p><img alt=""  src="../../images/content/carousel-4.png" class="campl-scale-with-grid" /></p>
                        </div>	
						<div class="campl-content-container">
							<h4>Image dimensions of the following image are: 590px x 288px.</h4>
							<p>This size is used for full bleed inner page leading images (images that appear typically at the top of content pages). Note that this example and the one above it show at the same width as they have been sized to fit inside the width of the div in which they sit.</p>
							<h4> <img alt=""  src="../../images/content/recessed-image-placeholder.jpg" class="campl-scale-with-grid" />						</h4>
						</div>	
						<div class="campl-content-container">
						  <h4>Image dimensions of the following image are: 250px x 250px.</h4>
						  <p>This size is used for teaser images which typically appear on landing pages (e.g. departmental home pages). It is also used when floating images within the body of a content page.</p>
						  <p>&nbsp;</p>
							<img alt=""  src="../../images/content/image-placeholder-03.jpg" class="campl-scale-with-grid" />
						</div>	
					</div>	
				</div>
				<div class="campl-column12">
					<div class="campl-content-container">
					
					
						<h3>Inline images set to float left and right</h3>
						<p>This image style should be used in the body of articles or on long pages of content. Examples for this could be news articles, or long feature articles. The key feature of displaying images using this approach is that text can wrap around them.</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<img alt=""  src="../../images/content/image-placeholder-03.jpg" class="campl-float-right campl-scale-with-grid" />
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<img alt=""  src="../../images/content/image-placeholder-03.jpg" class="campl-float-left campl-scale-with-grid" />
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
				
				
					</div>
				</div>
				<div class="campl-column12">
					<div class="campl-content-container">
						<h4>Images scaling inside a grid column</h4>
						<p>This style of image should be used on pages where images sit in a column separate to the associated text on a page, and don't require that the text wraps around them. Example uses for this image style would be events listing pages, search results pages (if they use images), or news listing pages.</p>
					</div>
					<div class="campl-column6">
						<div class="campl-content-container">
								<img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" />
						</div>
					</div>
					<div class="campl-column6">
						<div class="campl-content-container">
							
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
						</div>
					</div>
				</div>
				<div class="campl-column12">
					<div class="campl-column6">
						<div class="campl-content-container">

							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
					</div>
					<div class="campl-column6">
						<div class="campl-content-container">
							<img alt=""  src="../../images/content/image-placeholder.jpg" class="campl-scale-with-grid" />
						</div>
					</div>
				</div>
			</div>
			<div class="campl-column3 campl-secondary-content">
				&nbsp;
			</div>
		</div>	
	</div>

	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Image handling</h3>
						<hr />
						<div class="campl-content-container">
							<h4>Usage</h4>
							<p>There are two ways to implement stretching images for responsive layout within a standard article page.</p>
							<p>Images can be dropped inline and floated left or right or scaled inside of a grid column to allow for greater 
							control over text and image position for more complex layouts.</p>
							<p>You should use the inline images within the body of a long article page, and floating resizable images on listing pages (like events listings).</p>
						
							<p>When creating new images for the site please follow the image dimensions set out below:</p>
								<h5>Teaser images	</h5>
								<p>W: 250px</p>
								<p>H: 250px</p>

								<h5>Promo images	</h5>
								<p>W: 349px</p>
								<p>H: 125px</p>

								<h5>Department hero carousel images	</h5>
								<p>W: 883px</p>
								<p>H: 431px</p>

								<h5>Small events/ search results/profile pic images	</h5>
								<p>W: 153px</p>
								<p>H: 153px</p>

								<h5>Full bleed inner page leading image	</h5>
								<p>W: 590px</p>
								<p>H: 288px</p>

							<hr />
							<h4>Interaction</h4>
							<p>N/a</p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>A media query is set to stop Inline floating images below 1280 resolution to prevent thin columns of text becoming illegible.</p>
							<p>Images can be set to scale with the fluid grid and can also be floated left or right within a column of body copy. Floated images have padding set
								to allow a gutter between the edge of the image and the text. On mobile resolutions media queries are used to reduce the padding to maximise
								screen real estate.</p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>N/a</p>
							<hr />
							<h4>Component variants</h4>
							<p>N/a</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
