<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />


<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body class="styleguide">

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-global-header">
		<div class="campl-wrap clearfix">	
			<div class="campl-column9" id="global-header-controls">
				<a href="/project-light" class="campl-main-logo">
					<img alt=""  src="../../images/interface/main-logo-small.svg" height="38px;" class="campl-scale-with-grid" />
				</a>
				<ul class="campl-unstyled-list campl-horizontal-navigation campl-global-navigation">
					<li>
						<a class="campl-no-drawer" href="../../components/core-elements/index.html">Core elements</a>
					</li>
					<li>
						<a class="campl-no-drawer" href="../../components/inpage-components/index.html">In-page components</a>
					</li>
					<li>
						<a class="campl-no-drawer" href="../../template-variants/index.html">Page templates</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	
	<div class="campl-row campl-global-navigation-drawer">
		<div class="campl-wrap clearfix">	
			<div class="campl-column12">
				<ul class="campl-unstyled-list campl-global-navigation-container">
					<li><a href="/project-light">Home</a></li>
					<li><a href="../../components/core-elements/index.html" >Core elements</a></li>
					<li><a href="../../components/inpage-components/index.html" >In-page components</a></li>
					<li><a href="../../template-variants/index.html" >Page templates</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Core elements</h3>
						<p>The core, universal building blocks for all sites: such as grids, typography and navigation.</p>
						
						<ul class="campl-unstyled-list styleguide-menu ">
							<li><a href="global-header.html" title="">Global header</a></li>
							<li><a href="page-header.html" title="">Page header</a></li>
							<li><a href="typography.html" title="">Typography</a></li>
							<li><a href="link-styles.html" title="">Buttons and links</a></li>
							<li><a href="form-elements.html" title="">Forms</a></li>
							<li><a href="list-types.html" title="">Lists</a></li>
							<li><a href="image-handling.html" title="">Image handling</a></li>
							<li><a href="local-navigation.html" title="">Local Navigation</a></li>
							<li><a href="footer.html" title="">Footer</a></li>
		
						</ul>
						
						<p>To view a demonstration of the local navigation in full please navigate through the following path, starting <a href="local-navigation-01.html">from this page</a>:</p>
						<p>Faculty of MML > Departments overview > French > French in the MML tripos > Year 1/2. </p>
						<h3 id="page-layouts">Page layouts</h3>
						<p>For guidelines on using these layout variants see <a href="../../template-variants/index.html">Page templates</a>.
						<ul class="campl-unstyled-list styleguide-menu ">
							<li><a href="content-wrapping.html" title="">Content wrapping</a></li>
							<li><a href="grid.html" title="">Grid layout and content containers</a></li>
							<li><a href="page-types/full-width-page.html" title="">Full width page</a></li>
							<li><a href="page-types/sub-section-without-right-col.html" title="">Sub section without right column</a></li>
							<li><a href="page-types/sub-section-with-left-nav.html" title="">Sub section with left navigation</a></li>
							<li><a href="page-types/sub-section-without-left-nav.html" title="">Sub section without left navigation</a></li>
							<li><a href="page-types/section-landing.html" title="">Section landing</a></li>
							<li><a href="page-types/homepage.html" title="">Homepage </a></li>
						
						</ul>

						<h3>Colour themes</h3>
						<p>The colourways incorporate all six of the University's brand colours. The default is Cambridge turquoise.</p>
						
						<p>Only one colour palette or theme should be used for a given Department or Faculty.</p>
						
						<p>Certain brand colours have been modified slightly to provide better contrast, making them WCAG 2 AA compliant (for accessibility reasons). But these modifications remain as close as possible to the core brand colour palette.</p>
						
						<p>Themes can be implemented by using the colour themes CSS.</p>
						
						<p>Using the theme class set on the body tag will define the colourway for the current page.</p>
						
						<ul class="campl-unstyled-list styleguide-menu ">
							<li><a href="theme-1.html" title="">Theme 1 - Blue</a></li>
							<li><a href="theme-2.html" title="">Theme 2 - Turquoise</a></li>
							<li><a href="theme-3.html" title="">Theme 3 - Purple</a></li>
							<li><a href="theme-4.html" title="">Theme 4 - Green</a></li>
							<li><a href="theme-5.html" title="">Theme 5 - Orange</a></li>
							<li><a href="theme-6.html" title="">Theme 6 - Red</a></li>
						</ul>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="campl-row campl-global-footer">
	<div class="campl-wrap clearfix">
		<div class="campl-content-container">
			<p>&#169; 2015 University of Cambridge</p>
		</div>
	</div>
</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script src="../../javascripts/libs/jquery-min.js"></script>
	<script src="../../javascripts/libs/modernizr.js"></script>
	<script src="../../javascripts/custom.js"></script>
</body>
</html>
