<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />

<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-content">
		<div class="campl-wrap clearfix">
			<div class="campl-column12">
				<div class="campl-content-container">
					<h6>Unordered list</h6>	
					
					<ul>
						<li>Unordered list</li>
						<li>list item 2</li>
						<li>list item 3</li>
					</ul>
					<h6>Nested list</h6>	
					<ul>
						<li>Unordered list</li>
						<li>list item 2
							<ul>
								<li>Unordered list</li>
								<li>list item 2
									<ul>
										<li>Unordered list</li>
										<li>list item 2
											<ul>
												<li>Unordered list</li>
												<li>list item 2</li>
												<li>list item 3</li>
											</ul>
										</li>
										<li>list item 3</li>
									</ul>
								</li>
								<li>list item 3</li>
							</ul>
						</li>
						<li>list item 3</li>
					</ul>
					
					<h6>Ordered list</h6>	
					<ol class="campl-numbered">
						<li>Ordered list</li>
						<li>list item 2</li>
						<li>list item 3</li>
					</ol>
					
					<h6>Uppercase Roman</h6>	
					<ol style="list-style-type: upper-roman;">
						<li>Ordered list</li>
						<li>list item 2</li>
						<li>list item 3</li>
					</ol>
					<h6>Lowercase Roman</h6>	
					<ol style="list-style-type: lower-roman;">
						<li>Ordered list</li>
						<li>list item 2</li>
						<li>list item 3</li>
					</ol>
					<h6>Uppercase alphabetical</h6>	
					<ol style="list-style-type: upper-alpha;">
						<li>Ordered list</li>
						<li>list item 2</li>
						<li>list item 3</li>
					</ol>
					<h6>Lowercase alphabetical</h6>	
					<ol style="list-style-type: lower-alpha;">
						<li>Ordered list</li>
						<li>list item 2</li>
						<li>list item 3</li>
					</ol>
			
				</div>
			</div>
		</div>
	</div>

	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Lists</h3>
						<hr />
						<div class="campl-content-container">
							<h4>Usage</h4>
							<p>A full display of all possible list combinations, showing nested lists, ordered, unordered, alphabetical and Roman numerals.</p>
							<hr /><h4>Interaction</h4>
							<p>N/a</p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>CSS styles are used to create a different look for the numerical ordered list. The styles are not supported in IE7, which will display
								the ordered list as the default view.</p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>N/a</p>
							<hr />
							<h4>Component variants</h4>
							<p>N/a</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
