<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />


<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-page-header campl-sub-section-page">
		<div class="campl-wrap clearfix">
			<div class="campl-column12">
				<div class="campl-content-container">
					<div class="campl-breadcrumb" id="breadcrumb">
						<ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
							<li class='first-child'>
								<a href="#" class="campl-home ir">Home</a>
							</li>
							<li>
								<a href="local-navigation-01.html">Faculty of Modern &amp; Medieval Languages</a>
							</li>
							<li>
								<a href="local-navigation-02.html">Departments</a>
							</li>
							<li>
								<a href="local-navigation-03.html">French</a>
							</li>
							<li>
								<p class="campl-current">Year 1</p>
							</li>
						</ul>

					</div>
                    <p class="campl-mobile-parent"><a href="local-navigation-05-1.html"><span class="campl-back-btn campl-menu-indicator"></span>French </a></p>
					<p class="campl-page-title">Faculty of Modern &amp; Medieval Languages</p>


				</div>
			</div>
		</div>
	</div>
	
	
	<div class="campl-row campl-page-header">
		<div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
			<div class="campl-local-navigation-container">
				<ul class="campl-unstyled-list">
					<li><a href="#">About the Faculty</a></li>
					<li><a href="" class="campl-selected">Departments</a>
						<ul class="campl-unstyled-list">
							<li><a href="local-navigation-02.html">Departments overview</a>
							<li><a href="local-navigation-03.html">French</a>
								<ul class="campl-unstyled-list">
									<li><a href="local-navigation-03.html">French overview</a>
									<li><a href="local-navigation-05-1.html">French in the MML Tripos</a>
										<ul class="campl-unstyled-list">
											<li class="campl-current-page"><a href="local-navigation-05-1.html">Year 1</a>
											<li><a href="local-navigation-05-2.html">Year 2</a>
											<li><a href="#">Year 3</a>
											<li><a href="#">Year 4</a>
										</ul>
									</li>
									<li><a href="">Staff list</a>
									<li><a href="">News and events</a>
								</ul>	
							</li>
							<li><a href="#">German and Dutch</a></li>
							<li><a href="#">Italian</a></li>
							<li><a href="#">Modern Greek</a></li>
							<li><a href="#">Neo Latin</a></li>
							<li><a href="#">Slavonic Studies</a></li>
							<li><a href="#">Spanish and Portugese</a></li>
							<li><a href="#">Theoretical &amp; Applied Linguistics</a></li>			
						</ul>
					</li>
					<li><a href="#">Undergraduates</a></li>
					<li><a href="#">Graduate</a>
						<ul class="campl-unstyled-list">
							<li><a href="#">Lecture listings</a>
								<ul class="campl-unstyled-list">
									<li><a href="#">Michaelmas</a>
									<li><a href="#">Lent</a>
									<li><a href="#">Easter</a>
								</ul>
							</li>

							<li><a href="#">Fees &amp; funding</a></li>
							<li><a href="#">Supervision</a></li>
						</ul>
					</li>
					<li><a href="#">Research</a></li>
				</ul>
				
			</div>
		</div>
	</div>
	<div class="campl-row campl-page-header">
		<div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
			<div class="campl-column3 campl-spacing-column">
				&nbsp;
			</div>
			<div class="campl-column9">
				<div class="campl-content-container">
					<p class="campl-sub-title">French in the MML Tripos</p>
				</div>
			</div>
		</div>
	</div>
	<div class="campl-row campl-content campl-recessed-content">
		<div class="campl-wrap clearfix">
			<div class="campl-column3">
				<div class="campl-tertiary-navigation">
					<div class="campl-tertiary-navigation-structure">
						<ul class="campl-unstyled-list campl-vertical-breadcrumb">
							<li><a href="local-navigation-01.html">Faculty of Modern &amp; Medieval Languages <span class="campl-vertical-breadcrumb-indicator"></span></a></li>
							<li><a href="local-navigation-02.html">Departments <span class="campl-vertical-breadcrumb-indicator"></span></a></li>
							<li><a href="local-navigation-03.html">French <span class="campl-vertical-breadcrumb-indicator"></span></a></li>
						</ul>	
						<ul class="campl-unstyled-list campl-vertical-breadcrumb-navigation">
							<li class="campl-selected">French in the MML Tripos
								<ul class='campl-unstyled-list campl-vertical-breadcrumb-children'>
									<li class="campl-selected"><a href="local-navigation-05-1.html">Year 1</a></li>
									<li><a href="local-navigation-05-2.html">Year 2</a></li>
									<li><a href="#">Year 3</a></li>
								</ul>
							</li>
							<li><a href="">Staff list</a>
							<li><a href="">News and events</a>
						</ul>
					</div>
				</div>
			</div>
			<div class="campl-column6" id="content">
				<div class="campl-content-container">
					<h1>Year 1</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
			<div class="campl-column3 campl-secondary-content">
				<div class="campl-content-container  ">
					<p>related content</p>
				</div>
				<div class="campl-content-container">
					<p>related content</p>
				</div>
			</div>
		</div>	
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
