<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />


<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-page-header campl-sub-section-page">
		<div class="campl-wrap clearfix">
			<div class="campl-column12">
				<div class="campl-content-container">
					<div class="campl-breadcrumb" id="breadcrumb">
						<ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
							<li class='first-child'>
								<a href="#" class="campl-home ir">Home</a>
							</li>
							<li>
								<a href="local-navigation-01.html">Faculty of Modern &amp; Medieval Languages</a>
							</li>
							<li>
								<a href="local-navigation-02.html">Departments</a>
							</li>
							<li>
								<a href="local-navigation-03.html">French</a>
							</li>
							<li>
								<a href="local-navigation-05-1.html">French in the MML Tripos</a>
							</li>
							<li>
								<p class="campl-current">Year 1</p>
							</li>
						</ul>

					</div>
					<p class="campl-mobile-parent"><a href="local-navigation-05-1.html"><span class="campl-back-btn campl-menu-indicator"></span>French in the MML Tripos</a></p>
					<p class="campl-page-title">Faculty of Modern &amp; Medieval Languages</p>


				</div>
			</div>
		</div>
	</div>
	
	
	<div class="campl-row campl-page-header">
		<div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
			<div class="campl-local-navigation-container">
				<ul class="campl-unstyled-list">
					<li><a href="#">About the Faculty</a></li>
					<li><a href="local-navigation-02.html">Departments</a>
						<ul class="campl-unstyled-list">
							<li><a href="local-navigation-03.html">French</a>
								<ul class="campl-unstyled-list">
									<li><a href="">French overview</a>
									<li><a href="local-navigation-05-1.html">French in the MML Tripos</a>
										<ul class="campl-unstyled-list">
											<li class="campl-current-page"><a href="local-navigation-05-1.html">Year 1</a>
											<li><a href="local-navigation-05-2.html">Year 2</a>
											<li><a href="#">Year 3</a>
											<li><a href="#">Year 4</a>
										</ul>
									</li>
									<li><a href="">Staff list</a>
									<li><a href="">News and events</a>
								</ul>	
							</li>
							<li><a href="#">German and Dutch</a></li>
							<li><a href="#">Italian</a></li>
							<li><a href="#">Modern Greek</a></li>
							<li><a href="#">Neo Latin</a></li>
							<li><a href="#">Slavonic Studies</a></li>
							<li><a href="#">Spanish and Portugese</a></li>
							<li><a href="#">Theoretical &amp; Applied Linguistics</a></li>			
						</ul>
					</li>
					<li><a href="#">Undergraduates</a></li>
					<li><a href="#">Graduate</a>
						<ul class="campl-unstyled-list">
							<li><a href="#">Lecture listings</a>
								<ul class="campl-unstyled-list">
									<li><a href="#">Michaelmas</a>
									<li><a href="#">Lent</a>
									<li><a href="#">Easter</a>
								</ul>
							</li>
							
							<li><a href="#">Fees &amp; funding</a></li>
							<li><a href="#">Supervision</a></li>
						</ul>
					</li>
					<li><a href="#">Research</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="campl-row campl-page-header">
		<div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
			<div class="campl-column3 campl-spacing-column">
				&nbsp;
			</div>
			<div class="campl-column9">
				<div class="campl-content-container">
					<p class="campl-sub-title">Departments</p>
				</div>
			</div>
		</div>
	</div>
	<div class="campl-row campl-content campl-recessed-content">
		<div class="campl-wrap clearfix">
			<div class="campl-column3">
				<div class="campl-tertiary-navigation">
					<div class="campl-tertiary-navigation-structure">
						<ul class="campl-unstyled-list campl-vertical-breadcrumb">
							<li><a href="local-navigation-01.html">Faculty of Modern &amp; Medieval Languages <span class="campl-vertical-breadcrumb-indicator"></span></a></li>
							<li><a href="local-navigation-02.html">Departments <span class="campl-vertical-breadcrumb-indicator"></span></a></li>
							<li><a href="local-navigation-03.html">French <span class="campl-vertical-breadcrumb-indicator"></span></a></li>
						</ul>	
						<ul class="campl-unstyled-list campl-vertical-breadcrumb-navigation">	
							<li class="campl-selected">French in the MML Tripos
								<ul class='campl-unstyled-list campl-vertical-breadcrumb-children'>
									<li class="campl-selected"><a href="local-navigation-05-1.html">Year 1</a></li>
									<li><a href="local-navigation-05-2.html">Year 2</a></li>
									<li><a href="#">Year 3</a></li>
								</ul>
							</li>
				
						</ul>
					</div>
				</div>
			</div>
			<div class="campl-column6" id="content">
				<div class="campl-content-container">
					<h1>Year 1</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
			<div class="campl-column3 campl-secondary-content">
				<div class="campl-content-container  ">
					<p>related content</p>
				</div>
				<div class="campl-content-container">
					<p>related content</p>
				</div>
			</div>
		</div>	
	</div>
	
	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Local navigation</h3>
						<p>As with the global navigation, the local navigation menu has different display formats for desktop and mobile.</p>
						<p>It provides a single, extensible navigation model that can be used for any University of Cambridge local website, no matter how many hierarchical levels it has.</p>
						<p>The top level for local navigation is the <a href="../../template-variants/section-landing.html">Section page</a>. For more information about which page templates to use for your local site, see <a href="../../template-variants/">Page templates</a>.</p>
						<hr />
						<div class="campl-content-container">
							<h4>Usage: larger screen widths</h4>
							<h5>Single-level local navigation</h5>
								<p>If the local navigation is only <strong>one level deep</strong>, a simple horizontal navigation bar is used. Each link in the horizontal navigation bar links to a subsection page with no left-hand navigation (see <a href="#">Subsection page without left-hand navigation</a>).</p>

								<img src="../../images/styleguide/horiznav.png" class="campl-scale-with-grid"/>

								<p>If the horizontal navigation bar contains too many labels to fit on one line, it will wrap to a second line.
									 Avoid this if possible, though, as it makes for a slightly cluttered view. Short category labels will help
									 and are easier for the user to scan.	</p>
								
								<h5>Multi-level local navigation</h5>
								<p>If one or more of the links in a section’s horizontal navigation bar have <strong>additional levels of pages</strong> beneath them, dropdown menus are used to show the links at the second level. Pages at subsequent levels use the <a href="#">Subsection page with left-hand navigation</a> template.</p> 

								<p>The left-hand navigation looks like this:</p>
								<div class="center-img">
									<img src="../../images/styleguide/leftnav.png" class="campl-scale-with-grid"/>
								</div>

								<p>The current category and page title are always highlighted. Sibling and children links for the current category are displayed.</p>
								<p>As the user drills deeper into the hierarchy, the left-hand menu also indicates their current location via a 'vertical breadcrumb' in addition to the links for the current page. This provides additional signposting for users deep linking from, eg, search engines.</p>
								<p>When a user clicks on a Section title in the local navigation, the user must be automatically taken to a nominated page in that category. There can be no ‘empty’ categories. Therefore, <strong>every category in the local navigation must contain at least one page</strong>.</p>
									<div class="center-img">
										<img src="../../images/styleguide/categoriespages.png" class="campl-scale-with-grid"/>
									</div>
							<h4>Usage: smaller screen widths</h4>
								<p>At smaller screen widths, the entire local navigation menu is contained within a single menu. It lets the user jump directly to any page within the current local site.</p>
								<div class="center-img">
									<img src="../../images/styleguide/mobnav2.png" class="campl-scale-with-grid"/>
								</div>
								<p>The menu displays the Current category and page title, plus child links for the current category. The ‘Back’ link links to the category one level up in the hierarchy. At the top level (eg Faculty homepage), no ‘Back’ link is displayed.</p>
								<div class="center-img">
									<img src="../../images/styleguide/mobnav1.png" class="campl-scale-with-grid"/>
								</div>

							<p>	Once the user descends to a level in the hierarchy where no further navigation links are available, no child list is shown.	</p>
								
						
							<hr />
							<h4>Interaction</h4>
							<p>When first opened, the menu must always display the links relevant to the current page, so that the user can orientate themselves. If the user closes and opens the Menu, it displays the default view again.</p>
							<p>Opening the local navigation menu should close all other open panels visible on the screen.</p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>Separate desktop and mobile views are created by using a 767px max-width media query to present a different navigation structure.</p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>We have based the Javascript for the local navigation heavily on the script found on the <a href="http://www.sony.com/index.php">Sony.com website</a>. However there have been several changes 
								so whilst it may serve as a useful reference, the comments in the Custom.js file should be more helpful in terms of understanding the desired functionality.</p>
							
							<p>For desktop users jQuery is used to detect the top level navigation items that have children pages. A class is set on these to denote the appearance of a drop down menu when clicked.</p>
							
							<p>For desktop users clicking a top level item that has children will open a drop down menu. You cannot click this link to view the content on that page, instead an overview page
							should be added to the top of the nested child list.</p>
							
							<p>For all navigation items below the top level that have nested children, a title link, which replicates the text of the parent is added to name the nested list beneath. 
							This title link is hidden from desktop users but visible to mobile users and allows them to see which section they are currently viewing in the navigation. The click event
							for title links is disabled so they are not clickable and the cursor is also removed. </p>
							
							<p>For all navigation items that have nested children, a back link is also appended to the nested list beneath. For top level links the text of the back link
							is hardcoded to read 'Back to section home'. For navigation items below the top level the text of the link is copied from the text in the title link of the parent UL. 
							This allows users to view which section they have come from in the mobile navigation. </p>
							
							<p>A hover class is added via Javascript to allow older IE browsers to display a hover event on the LI in the navigation. </p>
							
							<p>Depending on whether you are browsing in desktop or mobile mode clicking a link will either call the function to slide the menu
							forward or back or show and hide the dropdown menu.</p>
							
							<p><a href="http://modernizr.com/">Modernizr</a> is used to detect the inclusion of media queries to determine if the menu button should be dynamically appended for mobile resolutions.</p>
							
							
							<p>The width of the mobile menu is also controlled by Javascript. This is set when the menu is opened but also triggered by a 
							resize event to ensure that in the case of a user changing orientation whilst viewing, that the menu stretches to fill
							the screen and scrolls back or forward the correct amount. </p> 
							
							<p>The mobile menu should default to showing you the section of the page you are currently viewing. When the menu is opened the display menu
							function walks upwards through the DOM from where the current page class is detected and appends the correct classnames to ensure all
							layers of the menu are visible in the CSS and sets the menu position variable to determine which layer of navigation is being viewed. </p>
							
							<p>When the menu is closed these classes are all removed and the menu is positioned absolutely off the stage again to hide it from view. </p>
							
							<p>The sliding animation to control the nested layers of navigation is controlled by multiplying the menu position and the width of the menu. 
							This calculation is used to animate the CSS left property of the navigation.</p>
							
							<p>Desktop users without Javascript will see the fully expanded navigation list in the page. Mobile users without Javascript will not be able to access the navigation.</p>
							<hr />
							<h4>Component variants</h4>
							<p>N/a</p>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
