<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />


<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

<div class="campl-row campl-content">
	<div class="campl-wrap clearfix">
		<div class="campl-content-container">
			<h2>Default page header</h2>
		</div>
	</div>
</div>

<div class="campl-row campl-page-header">
	<div class="campl-wrap clearfix">
		<div class="campl-column12">
			<div class="campl-content-container">
				<div class="campl-breadcrumb" id="breadcrumb">
					<ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
						<li class='first-child'>
							<a href="#" class="campl-home ir">Home</a>
						</li>
						<li>
							<a href="">Graduate Admissions</a>
						</li>
						<li>
							<a href="">Prospective Graduate Students</a>
						</li>
						<li>
							<a href="">Studying at Cambridge</a>
						</li>
						<li>
							<p class="campl-current">Course directory</p>
						</li>
					</ul>
				</div>
				<p class="campl-mobile-parent"><a href=""><span class="campl-back-btn campl-menu-indicator"></span>Studying at Cambridge</a></p>
				<p class="campl-page-title">Graduate Admissions</p>
			</div>
		</div>
	</div>
</div>	

<div class="campl-row campl-page-header">	
	<div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
		<div class="campl-local-navigation-container">
			<ul class="campl-unstyled-list">
				<li><a href="#">About us</a></li>
				<li><a href="#" class="campl-selected">Prospective Students</a>
					<ul class="campl-unstyled-list local-dropdown-menu">
						<li><a href="#">Site map</a></li>
					</ul> 
				</li>
				<li><a href="#">Item 1</a></li>
				<li><a href="#">Item 2</a></li>
				<li><a href="#">Item 3</a></li>
			</ul>	
		</div>
	</div>
	<div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
		<div class="campl-column12">
			<div class="campl-content-container">
				<p class="campl-sub-title">Course directory</p>
			</div>
		</div>
	</div>
</div>
	

<div class="campl-row campl-content campl-recessed-content">
	<div class="campl-wrap clearfix">
		<div class="campl-content-container">
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<h2>Global page header</h2>
		</div>
	</div>
</div>


<div class="campl-row campl-page-header global-page">
	<div class="campl-wrap clearfix">
		<div class="campl-column12">
			<div class="campl-content-container">
				<div class="campl-breadcrumb" id="breadcrumb">
					<ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
						<li class='first-child'>
							<a href="#" class="campl-home ir">Home</a>
						</li>
						<li>
							<p class="campl-current">Studying at Cambridge</p>
						</li>
					</ul>
				</div>
				<p class="campl-mobile-parent"><a href=""><span class="campl-back-btn campl-menu-indicator"></span>Home</a></p>
				<p class="campl-page-title">Studying at Cambridge</p>
			</div>
		</div>
	</div>
</div>	


<div class="campl-row campl-content campl-recessed-content">
	<div class="campl-wrap clearfix">
		<div class="campl-content-container">
			<h2>Section header</h2>
		</div>
	</div>
</div>

<div class="campl-row campl-page-header campl-section-page">
	<div class="campl-wrap clearfix">
		<div class="campl-column12">
			<div class="campl-content-container">
				<div class="campl-breadcrumb" id="breadcrumb">
					<ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
						<li class='first-child'>
							<a href="#" class="campl-home ir">Home</a>
						</li>
						<li>
							<p class="campl-current">Graduate Admissions</p>
						</li>
					</ul>
				</div>
				<p class="campl-mobile-parent"><a href=""><span class="campl-back-btn campl-menu-indicator"></span>Home</a></p>
				<p class="campl-page-title">Graduate Admissions</p>
			</div>
		</div>
	</div>
</div>	

<div class="campl-row campl-page-header">	
	<div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
		<div class="campl-local-navigation-container">
			<ul class="campl-unstyled-list">
				<li><a href="#">About us</a></li>
				<li><a href="#" class="campl-selected">Prospective Students</a>
					<ul class="campl-unstyled-list local-dropdown-menu">
						<li><a href="#">Site map</a></li>
					</ul> 
				</li>
				<li><a href="#">Item 1</a></li>
				<li><a href="#">Item 2</a></li>
				<li><a href="#">Item 3</a></li>
			</ul>	
		</div>
	</div>
</div>

<div class="campl-row campl-content campl-recessed-content">
	<div class="campl-wrap clearfix">
		<div class="campl-content-container">
			<h2>Sub section header</h2>
		</div>
	</div>
</div>



	<div class="campl-row campl-page-header campl-sub-section-page">
		<div class="campl-wrap clearfix">
			<div class="campl-column12">
				<div class="campl-content-container">
					<div class="campl-breadcrumb" id="breadcrumb">
						<ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
							<li class='first-child'>
								<a href="#" class="campl-home ir">Home</a>
							</li>
							<li>
								<a href="">Graduate Admissions</a>
							</li>
							<li>
								<a href="">Prospective Graduate Students</a>
							</li>
							<li>
								<a href="">Studying at Cambridge</a>
							</li>
							<li>
								<p class="campl-current">Course directory</p>
							</li>
						</ul>

					</div>
					<p class="campl-mobile-parent"><a href=""><span class="campl-back-btn campl-menu-indicator"></span>Studying at Cambridge</a></p>
					<p class="campl-page-title">Graduate Admissions</p>


				</div>
			</div>
		</div>
	</div>	

	<div class="campl-row campl-page-header">	
		<div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
			<div class="campl-local-navigation-container">
				<ul class="campl-unstyled-list">
					<li><a href="#">About us</a></li>
					<li><a href="#" class="campl-selected">Prospective Students</a>
						<ul class="campl-unstyled-list local-dropdown-menu">
							<li><a href="#">Site map</a></li>
						</ul> 
					</li>
					<li><a href="#">Item 1</a></li>
					<li><a href="#">Item 2</a></li>
					<li><a href="#">Item 3</a></li>
				</ul>	
			</div>
		</div>
		<div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
			<div class="campl-column3 campl-spacing-column">
				&nbsp;
			</div>
			<div class="campl-column9">
				<div class="campl-content-container">
					<p class="campl-sub-title">Course directory</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="campl-row campl-content campl-recessed-content">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<h2>Default Breadcrumb</h2>
			</div>
		</div>
	</div>


	<div class="campl-row campl-page-header">
		<div class="campl-wrap clearfix">
			<div class="campl-column12">
				<div class="campl-content-container">
					<div class="campl-breadcrumb" id="breadcrumb1">
						<ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
							<li class='first-child'>
								<a href="#" class="campl-home ir">Home</a>
							</li>
							<li>
								<a href="">Modern &amp; Medieval Languages</a>
							</li>
							<li>
								<a href="">Modern &amp; Medieval Languages</a>
							</li>
							<li>
								<a href="">Department of German and Dutch</a>
							</li>
							<li>
								<p class="campl-current">Staff-Student Liaison</p>
							</li>
							
						</ul>
		
					</div>
					<p class="campl-mobile-parent"><a href=""><span class="campl-back-btn campl-menu-indicator"></span>Department of German and Dutch</a></p>
					<h1 class="campl-page-title">Staff-Student Liaison</h1>
					
					
				</div>
			</div>
		</div>	
	</div>	
	
	
	<div class="campl-row campl-content campl-recessed-content">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<h2>Truncated breadcrumb</h2>
			</div>
		</div>
	</div>			
	<div class="campl-row campl-page-header">
		<div class="campl-wrap clearfix">
			<div class="campl-column12">		
				<div class="campl-content-container">
					<div class="campl-breadcrumb" id="breadcrumb2">
						<ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
							<li class='first-child'>
								<a href="#" class="campl-home ir">Home</a>
							</li>
							<li>
								<a href="">Modern &amp; Medieval Languages</a>
							</li>
							<li>
								...
							</li>
							<li>
								<a href="">Department of German and Dutch</a>
							</li>
							<li>
								<p class="campl-current">Staff-Student Liaison</p>
							</li>
							
						</ul>
		
					</div>
					<h1 class="campl-page-title">Staff-Student Liaison</h1>
				</div>
			</div>
		</div>	
	</div>	
	<div class="campl-row campl-content campl-recessed-content">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<h2>Wrapping breadcrumb</h2>
			</div>
		</div>
	</div>
	<div class="campl-row campl-page-header">
		<div class="campl-wrap clearfix">
			<div class="campl-column12">	
				<div class="campl-content-container">
					<div class="campl-breadcrumb" id="breadcrumb3">
						<ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
							<li class='first-child'>
								<a href="#" class="campl-home ir">Home</a>
							</li>
							<li>
								<a href="">Modern &amp; Medieval Languages</a>
							</li>
							<li>
								<a href="">Modern &amp; Medieval Languages</a>
							</li>
							<li>
								<a href="">Department of German and Dutch</a>
							</li>
							<li>
								<a href="">Extra long breadcrumb</a>
							</li>
							<li>
								<a href="">To demonstrate how it would wrap</a>
							</li>
							<li>
								<a href="">Lorem ipsum dolor sit amet</a>
							</li>
							<li>
								<p class="campl-current">Staff-Student Liaison</p>
							</li>
							
						</ul>
		
					</div>
					<h1 class="campl-page-title">Staff-Student Liaison</h1>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	
	

	<div class="campl-row styleguide-notes campl-recessed-content">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Local header</h3>
					
						<hr />
						<div class="campl-content-container">
							<h4>Usage</h4>
							<p>The breadcrumb indicates the hierarchical position of the current page on the University of Cambridge site. 
								It indicates to the user their context within the site, whether they have browsed to their current location or arrived 
								from a search engine.</p>

							<p>A full breadcrumb trail, showing the user’s context in relation to the University homepage, appears on broader-width pages.</p>
							<h5>Smaller screen widths</h5>
							<p>At smaller screen widths, the breadcrumb does not appear within local sites, because enough other signposting exists to orientate the user.</p>
							<p>For non-local pages, such as the Colleges and Departments index page, a single link appears above the page title, which takes the user to the section above the current one.</p>
							
							
							<p>The page header is a full width background colour to create visual hierarchy for section titles.</p>
							
							<hr />
							<h4>Interaction</h4>
							<p>The current page in the breadcrumb is not clickable; all previous 'crumbs' are clickable.</p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>Separate desktop and mobile views are created by using a 767px max-width media query to present a different structure.</p>
							<p>The full width menu is hidden in mobile view and a single link to the parent page is displayed instead.</p>
							
							<hr />
							<h4>Use of Javascript</h4>
							<p>N/a</p>
							<hr />
							<h4>Component variants</h4>
							<p>This component depicts three variants on the breadcrumb, a default, truncated and non-truncated view.</p>
							<p>Ideally, a breadcrumb that is too long to appear in a single line on the page will be truncated in the middle. 
								From a usability point of view this is acceptable, because people generally use breadcrumbs either to navigate 
								to a level near to where they are currently, or to navigate to a top-level category.</p>
								<p>If the backend system cannot generate truncated breadcrumbs, the breadcrumb should just wrap as many times as necessary.</p>
					
								<p>For pages that have a left column holding in page navigation there is an empty column to ensure the 
									correct space is reserved for the navigation container.</p>
					
					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>
</body>
</html>
