<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../stylesheets/styleguide.css" />

<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body class="campl-theme-2">

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-page-header">
		<div class="campl-wrap clearfix">
			<div class="campl-column12">
				<div class="campl-content-container">
					<p class="campl-page-title">Site title</p>
				</div>
			</div>
		</div>

		<div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
			<div class="campl-column12">
				<div class="campl-content-container ">
					<p class='campl-sub-title'>Section title or page title</p>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="campl-main-content">
	<div class="campl-row campl-content campl-recessed-content">
		<div class="campl-wrap clearfix">
			<div class="campl-column12">
				<div class="campl-content-container">
				
					<h1>Heading 1</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<h2>Heading 2</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<h3>Heading 3</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<h4>Heading 4</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<h5>Heading 5</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<h6>Heading 6</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
			
					<h3>Blockquote</h3>
					
		
					<blockquote class="clearfix">
						<p class="campl-quote-mark">'Tis better to have loved and lost then never to have loved at all</p>
						<cite>William Shakespeare</cite>
					</blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
						<blockquote class="clearfix">
							<p>'Tis better to have loved and lost then never to have loved at all. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<p class="campl-quote-mark"> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<cite>William Shakespeare</cite>
						</blockquote>
					
					<h3>Horizontal rule</h3>
					<hr />
					
					<h3>Inline links</h3>
					<p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
					<h3>Miscellaneous inline text treatment</h3>
					<p>Lorem <strong>strong</strong> sit amet, <em>emphasis</em>, sed do eiusmod tempor <sub>sub text</sub> et dolore magna aliqua. <sup>super text</sup>, quis nostrud <abbr>abbreviation</abbr> ullamco </p>
					<p>Lorem <small>small</small>, consectetur adipisicing elit, <dfn>definition</dfn> incididunt ut labore <ins>insert</ins>. Ut enim ad minim veniam, <mark>mark</mark> laboris nisi ut aliquip ex ea </p>
					<h3>Address</h3>
					
					<address>24 acacia avenue, birmingham, B1 4BX</address>
			

					
			
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="campl-row styleguide-notes">
			<div class="campl-wrap clearfix">
				<div class="campl-content-container">
					<div class="campl-column12">
						<div class="campl-content-container styleguide-container">
							<h2>Styleguide notes</h2>
							<hr />
							<h3>Typography</h3>
							<hr />
							<div class="campl-content-container">
								<h4>Usage</h4>
								<p>This page demonstrates all of the standard typography treatment available in the CSS.</p>
								<hr />
								<h4>Interaction</h4>
								<p>N/a</p>
								<hr />
								<h4>CSS and media queries</h4>
								<p>Font sizes and families are set for all users. The special fonts served via Typekit are included in their own section.</p>
								<p>For mobile users the basic font size is increased and other font sizes are enhanced to allow for easier scanning and legibility.</p>
								<hr />
								<h4>Use of Javascript</h4>
								<p>The <a href="https://typekit.com/">Typekit</a> load script is inserted in the head of the HTML. This injects a script into the page which downloads
									the appropriate font-face file for the browser in use. </p>
								<hr />
								<h4>Component variants</h4>
								<p>N/a</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript" src="../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript" src="../../javascripts/custom.js"></script>



</body>
</html>

