<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Live style guide</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="../../../stylesheets/full-stylesheet.css" />
  <link rel="stylesheet" href="../../../stylesheets/styleguide.css" />
	

<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
</head>
<body>

<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

	<div class="campl-row campl-global-header">
		<div class="campl-wrap clearfix">	
			<div class="campl-global-navigation">
				<p>global header</p>
			</div>
		</div>
	</div>
	<div class="campl-row campl-page-header">
		<div class="campl-wrap clearfix">
			<div class="campl-column12">
				<div class="campl-content-container">
					<div class="campl-breadcrumb">breadcrumb</div>
					<h1 class="campl-page-title">page title</h1>
				</div>

			</div>
		</div>

		<div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
			<div class="campl-column12">
				<div class="campl-content-container">
					<h2>page sub title here</h2>
				</div>
			</div>
		</div>
	</div>

	
	<div class="campl-row campl-content campl-recessed-content">
		<div class="campl-wrap clearfix">

			<div class="campl-column9">
				<div class="campl-content-container">
					<p>page content</p>
				</div>
			</div>
			<div class="campl-column3 campl-secondary-content">
				<div class="campl-content-container  ">
					<p>related content</p>
				</div>
				<div class="campl-content-container">
					<p>related content</p>
				</div>
			</div>
		</div>	
	</div>
	<div class="campl-row campl-local-footer">
		<div class="campl-wrap clearfix">
			<div class="campl-column3">
				<div class="campl-content-container">
					<p>footer links</p>
				</div>
			</div>
			<div class="campl-column3">
				<div class="campl-content-container">
					<p>footer links</p>
				</div>
			</div>
			<div class="campl-column3">
				<div class="campl-content-container">
					<p>footer links</p>
				</div>
			</div>
			<div class="campl-column3">
				<div class="campl-content-container">
					<p>footer links</p>
				</div>
			</div>
		</div>	
	</div>
	<div class="campl-row campl-global-footer">
		<div class="campl-wrap clearfix">
			<div class="campl-column3">
				<div class="campl-content-container">
					<div class="campl-footer-logo">
						<img alt=""  src="../../../images/interface/main-logo-small.svg" height="38px;" class="campl-scale-with-grid" />
					</div>
					<p>&#169; 2015 University of Cambridge, <br />
						The old schools, Trinity Lane, <br />
						Cambridge CB2 1TN, UK</p>
				</div>
			</div>
			<div class="campl-column3">
				<div class="campl-content-container">

					<div class="link-list">
						<h3>Study at Cambridge</h3> 
						<ul class="campl-unstyled-list">
							<li>
								<a href="">Link 1</a>
							</li>
							<li>
								<a href="">Link 2</a>
							</li>
							<li>
								<a href="">Link 3</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="campl-column3">
				<div class="campl-content-container">
					<h3>About the University</h3> 
					<ul class="campl-unstyled-list">
						<li>
							<a href="">Link 1</a>
						</li>
						<li>
							<a href="">Link 2</a>
						</li>
						<li>
							<a href="">Link 3</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="campl-column3">
				<div class="campl-content-container">
					<ul class="campl-unstyled-list">
						<li>
							<a href="">Privacy</a>
						</li>
						<li>
							<a href="">Accessibility</a>
						</li>
						<li>
							<a href="">Freedom of information</a>
						</li>
					</ul>
				</div>
			</div>
		</div>	
	</div>
	
	
	<div class="campl-row styleguide-notes">
		<div class="campl-wrap clearfix">
			<div class="campl-content-container">
				<div class="campl-column12">
					<div class="campl-content-container styleguide-container">
						<h2>Styleguide notes</h2>
						<hr />
						<h3>Sub section page without left navigation</h3>
						
						<hr />
						<div class="campl-content-container">
							<h4>Usage</h4>
							<p>This variant is most typically used for subsection pages that <a href="../../../template-variants/sub-section-without-left-navigation.html">don’t need a left-hand navigation</a>.</p>

							<p>This will only be the case when the local navigation is only one level deep: in other words, where the local site only consists of the pages listed in the horizontal navigation bar.</p>
							
							<p>For more detail about how the local navigation behaves on subsection pages, see <a href="../local-navigation.html">Local navigation</a>.</p>
							<hr />
							<h4>Interaction</h4>
							<p>N/a</p>
							<hr />
							<h4>CSS and media queries</h4>
							<p>Separate desktop and mobile views are created by using a 767px max-width media query to present a different structure.</p>
							<hr />
							<h4>Use of Javascript</h4>
							<p>N/a</p>
							<hr />
							<h4>Component variants</h4>
							<p>N/a</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--[if lte IE 8]>
</div>
<![endif]-->

	<script type="text/javascript" src="../../../javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript"  src="../../../javascripts/libs/jquery-min.js"></script>
	<script type="text/javascript"  src="../../../javascripts/libs/modernizr.js"></script>
  	<script type="text/javascript"  src="../../../javascripts/custom.js"></script>

</body>
</html>
