/* 9.0 COLOUR THEMES ------------------------------------------------------------------------------------------------*/

/* Theme 1 - blue 
 	#002e55 dark highlight
	#003e74 page header colours/global footer
	#004e8f carousel btn hover
	#004e8f main local nav bar
	#005dab	lighter highlight
	#0072cf selected state/carousel text bg
	#68ace5 pale tone - lightest highlight/footer headings
	#d2e4f3 pale table bg
*/	

.campl-theme-1 .campl-page-header, 
.campl-theme-1 .campl-local-footer{background:#003e74}
.campl-theme-1 .campl-local-footer h3 a{color:#68ace5;}
.campl-theme-1 .campl-page-sub-title, 
.campl-theme-1 .campl-banner-content{background:#005dab}
.campl-theme-1 .campl-tertiary-navigation{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAM0lEQVQYV2NkQAM3X/34ry7GwYgsDBLDEMCmCCQGV4jLJJhGsEJCikBqGIlRBFY4nDwDAHbOT3++G7jxAAAAAElFTkSuQmCC);min-height:100%}

.campl-theme-1 .campl-carousel-control-btn{background:#0072cf}
.campl-theme-1 .campl-carousel-control-btn:hover{background:#004e8f}

.campl-theme-1 .campl-homepage-carousel .campl-slide{background:#0072cf;color:#fff}
.campl-theme-1 .campl-partnership-branding{border-color:#0072cf}

.campl-theme-1 .campl-highlight-date{background:#0072cf}
.campl-theme-1 .campl-focus-teaser{background:#003e74;}
.campl-theme-1 .campl-focus-link{background-color:#004e8f}
.campl-theme-1 .campl-main-content h1, 
.campl-theme-1 .campl-main-content h2 {color:#003e74 }

.campl-theme-1 table, 
.campl-theme-1 .campl-table-bordered {border-bottom:2px solid #0072cf;}
.campl-theme-1 th{background:#0072cf;color:#fff}
.campl-theme-1 th.campl-alt{background:#fff;color:#0072cf}
.campl-theme-1 .campl-table-striped tbody tr:nth-child(odd) td,
.campl-theme-1 .campl-table-striped tbody tr:nth-child(odd) th { background-color: #d2e4f3;}
.campl-theme-1 .campl-table-bordered th{border-left: 1px solid #d2e4f3;}


/* local navigation */
.campl-theme-1 .campl-local-navigation {background:#004e8f;border-bottom:1px solid #003e74;border-top:1px solid #003e74}
.campl-theme-1 .campl-local-navigation a{background:#004e8f;border-right:1px solid #003e74;border-bottom:1px solid #003e74;border-top:1px solid #003e74}
.campl-theme-1 .campl-local-navigation a:focus, 
.campl-theme-1 .campl-local-navigation a:hover, 
.campl-theme-1 .campl-local-navigation a:active{background-color:#005dab;}
.campl-theme-1 .campl-local-navigation a.campl-selected{background:#0072cf }
.campl-theme-1 .campl-local-navigation li.campl-hover a{background-color:#002e55}
.campl-theme-1 .campl-local-navigation li.campl-sub li a{background-color: #002e55;border-right:0; }
.campl-theme-1 .campl-local-navigation li.campl-sub li li a{border-bottom:1px solid #004e8f;}
.campl-theme-1 .campl-local-navigation li.campl-sub li:last-child a {border-bottom:0;}

.js .campl-theme-1 .campl-local-navigation li.campl-sub>a:focus, 
.js .campl-theme-1 .campl-local-navigation li.campl-sub>a:hover, 
.js .campl-theme-1 .campl-local-navigation li.campl-sub>a:active{background-color:#004e8f;}

.js .campl-theme-1 .campl-local-navigation li.campl-sub a:focus, 
.js .campl-theme-1 .campl-local-navigation li.campl-sub a:hover{background-color: #002e55}
.js .campl-theme-1 .campl-local-navigation li.campl-sub li a:focus, 
.js .campl-theme-1 .campl-local-navigation li.campl-sub li a:hover{background-color: #004e8f;}


/* Theme 2 - turquoise
  	#003a41	dark highlight
	#106470 page header colours/global footer
	#0c5963	carousel btn hover
	#0c5963 main local nav bar
	#1e7680 lighter highlight
	#28828a selected state/carousel text bg
	#91b9a4 pale tone - lightest highlight/footer headings
	#d2f3e1 pale - table bg
*/	
.campl-theme-2 .campl-page-header, 
.campl-theme-2 .campl-local-footer{background:#106470}
.campl-theme-2 .campl-local-footer h3 a{color:#91b9a4;}
.campl-theme-2 .campl-page-sub-title, 
.campl-theme-2 .campl-banner-content{background:#1e7680}
.campl-theme-2 .campl-tertiary-navigation{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAM0lEQVQYV2NkQAM3P3/7r87LxYgsDBLDEMCmCCQGV4jLJJhGsEJCikBqGIlRBFY4nDwDAIeHT431w+WIAAAAAElFTkSuQmCC);min-height:100%}

.campl-theme-2 .campl-carousel-control-btn{background:#28828a}
.campl-theme-2 .campl-carousel-control-btn:hover{background:#0c5963}

.campl-theme-2 .campl-homepage-carousel .campl-slide{background:#28828a;color:#fff}
.campl-theme-2 .campl-partnership-branding{border-color:#28828a}

.campl-theme-2 .campl-highlight-date{background:#28828a}
.campl-theme-2 .campl-focus-teaser{background:#106470;}
.campl-theme-2 .campl-focus-link{background-color:#0c5963}
.campl-theme-2 .campl-main-content h1, 
.campl-theme-2 .campl-main-content h2 {color:#106470 }

.campl-theme-2 table, 
.campl-theme-2 .campl-table-bordered {border-bottom:2px solid #28828a;}
.campl-theme-2 th{background:#28828a;color:#fff}
.campl-theme-2 th.campl-alt{background:#fff;color:#28828a}
.campl-theme-2 .campl-table-striped tbody tr:nth-child(odd) td,
.campl-theme-2 .campl-table-striped tbody tr:nth-child(odd) th { background-color: #d2f3e1;}
.campl-theme-2 .campl-table-bordered th{border-left: 1px solid #d2f3e1;}


/* local navigation */
.campl-theme-2 .campl-local-navigation {background:#0c5963;border-bottom:1px solid #106470;border-top:1px solid #106470}
.campl-theme-2 .campl-local-navigation a{background:#0c5963;border-right:1px solid #106470;border-bottom:1px solid #106470;border-top:1px solid #106470}
.campl-theme-2 .campl-local-navigation a:focus, 
.campl-theme-2 .campl-local-navigation a:hover, 
.campl-theme-2 .campl-local-navigation a:active{background-color:#1e7680;}
.campl-theme-2 .campl-local-navigation a.campl-selected{background:#28828a}
.campl-theme-2 .campl-local-navigation li.campl-hover a{background-color:#003a41}
.campl-theme-2 .campl-local-navigation li.campl-sub li a{background-color: #003a41;border-right:0; }
.campl-theme-2 .campl-local-navigation li.campl-sub li li a{border-bottom:1px solid #0c5963;}
.campl-theme-2 .campl-local-navigation li.campl-sub li:last-child a {border-bottom:0;}

.js .campl-theme-2 .campl-local-navigation li.campl-sub>a:focus, 
.js .campl-theme-2 .campl-local-navigation li.campl-sub>a:hover, 
.js .campl-theme-2 .campl-local-navigation li.campl-sub>a:active{background-color:#0c5963;}

.js .campl-theme-2 .campl-local-navigation li.campl-sub a:focus, 
.js .campl-theme-2 .campl-local-navigation li.campl-sub a:hover{background-color: #003a41}
.js .campl-theme-2 .campl-local-navigation li.campl-sub li a:focus, 
.js .campl-theme-2 .campl-local-navigation li.campl-sub li a:hover{background-color: #0c5963;}


/* Theme 3 - purple
 	#35254a dark highlight
	#422e5d page header colours/global footer
	#6a2068	carousel btn hover - should i change this?
	#612d70 main local nav bar
	#782c7e lighter highlight
	#8f2b8c selected state/carousel text bg
	#af95a3 pale tone - lightest highlight/footer headings
	#f4d3e5 pale table bg
 */
.campl-theme-3 .campl-page-header, 
.campl-theme-3 .campl-local-footer{background:#422e5d}
.campl-theme-3 .campl-local-footer h3 a{color:#af95a3;}
.campl-theme-3 .campl-page-sub-title, 
.campl-theme-3 .campl-banner-content{background:#782c7e}
.campl-theme-3 .campl-tertiary-navigation{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALv7r/7zwjjgzhCikKMYAEYB8RmROaABAAPAg+/3tdmjQAAAABJRU5ErkJggg==);min-height:100%}

.campl-theme-3 .campl-carousel-control-btn{background:#8f2b8c}
.campl-theme-3 .campl-carousel-control-btn:hover{background:#6a2068}

.campl-theme-3 .campl-homepage-carousel .campl-slide{background:#8f2b8c;color:#fff}
.campl-theme-3 .campl-partnership-branding{border-color:#8f2b8c}

.campl-theme-3 .campl-highlight-date{background:#8f2b8c}
.campl-theme-3 .campl-focus-teaser{background:#422e5d;}
.campl-theme-3 .campl-focus-link{background-color:#612d70}
.campl-theme-3 .campl-main-content h1, 
.campl-theme-3 .campl-main-content h2 {color:#422e5d }

.campl-theme-3 table, 
.campl-theme-3 .campl-table-bordered {border-bottom:2px solid #8f2b8c;}
.campl-theme-3 th{background:#8f2b8c;color:#fff}
.campl-theme-3 th.campl-alt{background:#fff;color:#8f2b8c}
.campl-theme-3 .campl-table-striped tbody tr:nth-child(odd) td,
.campl-theme-3 .campl-table-striped tbody tr:nth-child(odd) th { background-color: #f4d3e5;}
.campl-theme-3 .campl-table-bordered th{border-left: 1px solid #f4d3e5;}


/* local navigation */
.campl-theme-3 .campl-local-navigation {background:#612d70;border-bottom:1px solid #422E5D;border-top:1px solid #422E5D}
.campl-theme-3 .campl-local-navigation a{background:#612d70;border-right:1px solid #422E5D;border-bottom:1px solid #422E5D;border-top:1px solid #422E5D}
.campl-theme-3 .campl-local-navigation a:focus, 
.campl-theme-3 .campl-local-navigation a:hover, 
.campl-theme-3 .campl-local-navigation a:active{background-color:#782c7e;}
.campl-theme-3 .campl-local-navigation a.campl-selected{background:#8f2b8c }
.campl-theme-3 .campl-local-navigation li.campl-hover a{background-color:#35254a}
.campl-theme-3 .campl-local-navigation li.campl-sub li a{background-color: #35254a;border-right:0; }
.campl-theme-3 .campl-local-navigation li.campl-sub li li a{border-bottom:1px solid #612d70;}
.campl-theme-3 .campl-local-navigation li.campl-sub li:last-child a {border-bottom:0;}

.js .campl-theme-3 .campl-local-navigation li.campl-sub>a:focus, 
.js .campl-theme-3 .campl-local-navigation li.campl-sub>a:hover, 
.js .campl-theme-3 .campl-local-navigation li.campl-sub>a:active{background-color:#612d70;}

.js .campl-theme-3 .campl-local-navigation li.campl-sub a:focus, 
.js .campl-theme-3 .campl-local-navigation li.campl-sub a:hover{background-color: #35254a}
.js .campl-theme-3 .campl-local-navigation li.campl-sub li a:focus, 
.js .campl-theme-3 .campl-local-navigation li.campl-sub li a:hover{background-color: #612d70;}


/* Theme 4 - green 
 	#222f16 dark highlight
	#304220 page header colours/global footer
	#355918	carousel btn hover
	#355918	main local nav bar
	#4b7016 lighter highlight
	#57831a selected state
	#aab300 pale tone - lightest highlight
	#f4f6cd pale table bg
 */
.campl-theme-4 .campl-page-header, 
.campl-theme-4 .campl-local-footer{background:#304220}
.campl-theme-4 .campl-local-footer h3 a{color:#aab300;}
.campl-theme-4 .campl-page-sub-title, 
.campl-theme-4 .campl-banner-content{background:#4b701c}
.campl-theme-4 .campl-tertiary-navigation{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAM0lEQVQYV2NkQAPPPt39L8WnzIgsDBLDEMCmCCQGV4jLJJhGsEJCikBqGIlRBFY4nDwDAGjMT3NzIr6SAAAAAElFTkSuQmCC);min-height:100%}

.campl-theme-4 .campl-carousel-control-btn{background:#57831a}
.campl-theme-4 .campl-carousel-control-btn:hover{background:#355918}

.campl-theme-4 .campl-homepage-carousel .campl-slide{background:#57831a;color:#fff}
.campl-theme-4 .campl-partnership-branding{border-color:#57831a}

.campl-theme-4 .campl-highlight-date{background:#57831a}
.campl-theme-4 .campl-focus-teaser{background:#304220;}
.campl-theme-4 .campl-focus-link{background-color:#355918}
.campl-theme-4 .campl-main-content h1, 
.campl-theme-4 .campl-main-content h2 {color:#304220 }

.campl-theme-4 table, 
.campl-theme-4 .campl-table-bordered {border-bottom:2px solid #57831a;}
.campl-theme-4 th{background:#57831a;color:#fff}
.campl-theme-4 th.campl-alt{background:#fff;color:#57831a}
.campl-theme-4 .campl-table-striped tbody tr:nth-child(odd) td,
.campl-theme-4 .campl-table-striped tbody tr:nth-child(odd) th { background-color: #f4f6cd;}
.campl-theme-4 .campl-table-bordered th{border-left: 1px solid #f4f6cd;}

/* local navigation */
.campl-theme-4 .campl-local-navigation {background:#355918;border-bottom:1px solid #304220;border-top:1px solid #304220}
.campl-theme-4 .campl-local-navigation a{background:#355918;border-right:1px solid #304220;border-bottom:1px solid #304220;border-top:1px solid #304220}
.campl-theme-4 .campl-local-navigation a:focus, 
.campl-theme-4 .campl-local-navigation a:hover, 
.campl-theme-4 .campl-local-navigation a:active{background-color:#4b701c;}
.campl-theme-4 .campl-local-navigation a.campl-selected{background:#57831a }
.campl-theme-4 .campl-local-navigation li.campl-hover a{background-color:#222f16}
.campl-theme-4 .campl-local-navigation li.campl-sub li a{background-color: #222f16;border-right:0; }
.campl-theme-4 .campl-local-navigation li.campl-sub li li a{border-bottom:1px solid #355918;}
.campl-theme-4 .campl-local-navigation li.campl-sub li:last-child a {border-bottom:0;}

.js .campl-theme-4 .campl-local-navigation li.campl-sub>a:focus, 
.js .campl-theme-4 .campl-local-navigation li.campl-sub>a:hover, 
.js .campl-theme-4 .campl-local-navigation li.campl-sub>a:active{background-color:#355918;}

.js .campl-theme-4 .campl-local-navigation li.campl-sub a:focus, 
.js .campl-theme-4 .campl-local-navigation li.campl-sub a:hover{background-color: #222f16}
.js .campl-theme-4 .campl-local-navigation li.campl-sub li a:focus, 
.js .campl-theme-4 .campl-local-navigation li.campl-sub li a:hover{background-color: #355918;}


/* Theme 5 - orange
 	#772801 dark highlight
	#c44101 page header colours/global footer
	#ab3901	carousel btn hover
	#ab3901 main local nav bar
	#d45812 lighter highlight
	#df671d selected state
	#f3bd48 pale tone - lightest highlight
	#f5e7ca pale table bg
 */
.campl-theme-5 .campl-page-header, 
.campl-theme-5 .campl-local-footer{background:#c44101}
.campl-theme-5 .campl-local-footer h3 a{color:#f3bd48;}
.campl-theme-5 .campl-page-sub-title, 
.campl-theme-5 .campl-banner-content{background:#d45812}
.campl-theme-5 .campl-tertiary-navigation{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAM0lEQVQYV2NkQAN/Xt3/zyKmyIgsDBLDEMCmCCQGV4jLJJhGsEJCikBqGIlRBFY4nDwDAI8kT5P7ti8QAAAAAElFTkSuQmCC);min-height:100%}

.campl-theme-5 .campl-carousel-control-btn{background:#df671d}
.campl-theme-5 .campl-carousel-control-btn:hover{background:#ab3901}

.campl-theme-5 .campl-homepage-carousel .campl-slide{background:#df671d;color:#fff}
.campl-theme-5 .campl-partnership-branding{border-color:#df671d}

.campl-theme-5 .campl-highlight-date{background:#df671d}
.campl-theme-5 .campl-focus-teaser{background:#c44101;}
.campl-theme-5 .campl-focus-link{background-color:#ab3901}
.campl-theme-5 .campl-main-content h1, 
.campl-theme-5 .campl-main-content h2 {color:#c44101 }

.campl-theme-5 table, 
.campl-theme-5 .campl-table-bordered {border-bottom:2px solid #df671d;}
.campl-theme-5 th{background:#df671d;color:#fff}
.campl-theme-5 th.campl-alt{background:#fff;color:#df671d}
.campl-theme-5 .campl-table-striped tbody tr:nth-child(odd) td,
.campl-theme-5 .campl-table-striped tbody tr:nth-child(odd) th { background-color: #f5e7ca;}
.campl-theme-5 .campl-table-bordered th{border-left: 1px solid #f5e7ca;}


/* local navigation */
.campl-theme-5 .campl-local-navigation {background:#ab3901;border-bottom:1px solid #c44101;border-top:1px solid #c44101}
.campl-theme-5 .campl-local-navigation a{background:#ab3901;border-right:1px solid #c44101;border-bottom:1px solid #c44101;border-top:1px solid #c44101}
.campl-theme-5 .campl-local-navigation a:focus, 
.campl-theme-5 .campl-local-navigation a:hover, 
.campl-theme-5 .campl-local-navigation a:active{background-color:#d45812;}
.campl-theme-5 .campl-local-navigation a.campl-selected{background:#df671d }
.campl-theme-5 .campl-local-navigation li.campl-hover a{background-color:#772801}
.campl-theme-5 .campl-local-navigation li.campl-sub li a{background-color: #772801;border-right:0; }
.campl-theme-5 .campl-local-navigation li.campl-sub li li a{border-bottom:1px solid #ab3901;}
.campl-theme-5 .campl-local-navigation li.campl-sub li:last-child a {border-bottom:0;}

.js .campl-theme-5 .campl-local-navigation li.campl-sub>a:focus, 
.js .campl-theme-5 .campl-local-navigation li.campl-sub>a:hover, 
.js .campl-theme-5 .campl-local-navigation li.campl-sub>a:active{background-color:#ab3901;}

.js .campl-theme-5 .campl-local-navigation li.campl-sub a:focus, 
.js .campl-theme-5 .campl-local-navigation li.campl-sub a:hover{background-color: #772801}
.js .campl-theme-5 .campl-local-navigation li.campl-sub li a:focus, 
.js .campl-theme-5 .campl-local-navigation li.campl-sub li a:hover{background-color: #ab3901;}


/* Theme 6 - red 
 	#6c112a	dark highlight
	#851735 page header colours/global footer
	#a51137 carousel btn hover
	#a51137 main local nav bar
	#be1741 lighter highlight
	#d61746 selected state
	#eb99a9 pale tone - lightest highlight
	#f8e1e5 pale table bg
 */
.campl-theme-6 .campl-page-header, 
.campl-theme-6 .campl-local-footer{background:#851735}
.campl-theme-6 .campl-local-footer h3 a{color:#eb99a9;}
.campl-theme-6 .campl-page-sub-title, 
.campl-theme-6 .campl-banner-content{background:#be1741}
.campl-theme-6 .campl-tertiary-navigation{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAM0lEQVQYV2NkQAM/bz36z64mx4gsDBLDEMCmCCQGV4jLJJhGsEJCikBqGIlRBFY4nDwDAGjoT3MabQ+4AAAAAElFTkSuQmCC);min-height:100%}

.campl-theme-6 .campl-carousel-control-btn{background:#d61746}
.campl-theme-6 .campl-carousel-control-btn:hover{background:#a51137}

.campl-theme-6 .campl-homepage-carousel .campl-slide{background:#d61746;color:#fff}
.campl-theme-6 .campl-partnership-branding{border-color:#d61746}

.campl-theme-6 .campl-highlight-date{background:#d61746}
.campl-theme-6 .campl-focus-teaser{background:#851735;}
.campl-theme-6 .campl-focus-link{background-color:#a51137}
.campl-theme-6 .campl-main-content h1, 
.campl-theme-6 .campl-main-content h2 {color:#851735 }

.campl-theme-6 table, 
.campl-theme-6 .campl-table-bordered {border-bottom:2px solid #d61746;}
.campl-theme-6 th{background:#d61746;color:#fff}
.campl-theme-6 th.campl-alt{background:#fff;color:#d61746}
.campl-theme-6 .campl-table-striped tbody tr:nth-child(odd) td,
.campl-theme-6 .campl-table-striped tbody tr:nth-child(odd) th { background-color: #f8e1e5;}
.campl-theme-6 .campl-table-bordered th{border-left: 1px solid #f8e1e5;}

/* local navigation */
.campl-theme-6 .campl-local-navigation {background:#a51137;border-bottom:1px solid #851735;border-top:1px solid #851735}
.campl-theme-6 .campl-local-navigation a{background:#a51137;border-right:1px solid #851735;border-bottom:1px solid #851735;border-top:1px solid #851735}
.campl-theme-6 .campl-local-navigation a:focus, 
.campl-theme-6 .campl-local-navigation a:hover, 
.campl-theme-6 .campl-local-navigation a:active{background-color:#be1741;}
.campl-theme-6 .campl-local-navigation a.campl-selected{background:#d61746}
.campl-theme-6 .campl-local-navigation li.campl-hover a{background-color:#6c112a}
.campl-theme-6 .campl-local-navigation li.campl-sub li a{background-color: #6c112a;border-right:0; }
.campl-theme-6 .campl-local-navigation li.campl-sub li li a{border-bottom:1px solid #a51137;}
.campl-theme-6 .campl-local-navigation li.campl-sub li:last-child a {border-bottom:0;}

.js .campl-theme-6 .campl-local-navigation li.campl-sub>a:focus, 
.js .campl-theme-6 .campl-local-navigation li.campl-sub>a:hover, 
.js .campl-theme-6 .campl-local-navigation li.campl-sub>a:active{background-color:#a51137;}

.js .campl-theme-6 .campl-local-navigation li.campl-sub a:focus, 
.js .campl-theme-6 .campl-local-navigation li.campl-sub a:hover{background-color: #6c112a}
.js .campl-theme-6 .campl-local-navigation li.campl-sub li a:focus, 
.js .campl-theme-6 .campl-local-navigation li.campl-sub li a:hover{background-color: #a51137;}






/* styles for menu opening navigation - ipad portrait and lower */
@media only screen and (max-width:767px){

	/*theme 1*/
	.js .campl-theme-1 .campl-local-navigation a{background:#003e74;border-right:0;border-top:0}
	.campl-theme-1 .campl-local-navigation li a{border-bottom:1px solid #004e8f;}
	.js .campl-theme-1 .campl-local-navigation li li a,
	.js .campl-theme-1 .campl-local-navigation li.campl-sub li.campl-sub a{background-color:#003e74;}
	
	.js .campl-theme-1 .campl-local-navigation li.campl-title a,
	.js .campl-theme-1 .campl-local-navigation li.campl-sub li.campl-title a,
	.js .campl-theme-1 .campl-local-navigation li.campl-sub li.campl-sub li.campl-title a,
	.js .campl-theme-1 .campl-local-navigation a:focus,
	.js .campl-theme-1 .campl-local-navigation a:hover,
	.js .campl-theme-1 .campl-local-navigation a:active{background-color:#004e8f;}
	
	.js .campl-theme-1 .campl-local-navigation li.campl-sub a:focus, 
	.js .campl-theme-1 .campl-local-navigation li.campl-sub a:hover{background-color: #004e8f}
	.js .campl-theme-1 .campl-local-navigation li.campl-sub li a:focus, 
	.js .campl-theme-1 .campl-local-navigation li.campl-sub li a:hover{background-color: #004e8f;}

	.js .campl-theme-1 .campl-menu-btn a{border:0;background:#004e8f;}
	
	.campl-theme-1 .campl-menu-btn-arrow{background: #002e55 }
	.js .campl-theme-1 .campl-menu-btn-arrow a:focus, 
	.js .campl-theme-1 .campl-menu-btn-arrow a:hover{background-color:#002e55;}
	.campl-theme-1 .campl-menu-indicator{background-color:#004e8f;}

	.js .campl-theme-1 .campl-local-navigation-container li:first-child a{border-top:1px solid #002e55;}
	
	.js .campl-theme-1 .campl-local-navigation-container li.campl-back-link a,
	.js .campl-theme-1 .campl-local-navigation-container li.campl-sub li.campl-back-link a,
	.js .campl-theme-1 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a,
	.js .campl-theme-1 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a {border-bottom:1px solid #004e8f; background-color: #002e55;}
	
	.js .campl-theme-1 .campl-local-navigation-container li.campl-back-link a:focus,
	.js .campl-theme-1 .campl-local-navigation-container li.campl-back-link a:hover,
	.js .campl-theme-1 .campl-local-navigation-container li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-1 .campl-local-navigation-container li.campl-sub li.campl-back-link a:hover,
	.js .campl-theme-1 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-1 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:hover,
	.js .campl-theme-1 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-1 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:hover{background-color:#004e8f;}
	
	/*theme 2*/
	.js .campl-theme-2 .campl-local-navigation a{background:#106470;border-right:0;border-top:0}
	.campl-theme-2 .campl-local-navigation li a{border-bottom:1px solid #0c5963;}
	.js .campl-theme-2 .campl-local-navigation li li a,
	.js .campl-theme-2 .campl-local-navigation li.campl-sub li.campl-sub a{background-color:#106470;}
	
	.js .campl-theme-2 .campl-local-navigation li.campl-title a,
	.js .campl-theme-2 .campl-local-navigation li.campl-sub li.campl-title a,
	.js .campl-theme-2 .campl-local-navigation li.campl-sub li.campl-sub li.campl-title a,
	.js .campl-theme-2 .campl-local-navigation a:focus,
	.js .campl-theme-2 .campl-local-navigation a:hover,
	.js .campl-theme-2 .campl-local-navigation a:active{background-color:#0c5963;}
	
	.js .campl-theme-2 .campl-local-navigation li.campl-sub a:focus, 
	.js .campl-theme-2 .campl-local-navigation li.campl-sub a:hover{background-color: #0c5963}
	.js .campl-theme-2 .campl-local-navigation li.campl-sub li a:focus, 
	.js .campl-theme-2 .campl-local-navigation li.campl-sub li a:hover{background-color: #0c5963;}

	.js .campl-theme-2 .campl-menu-btn a{border:0;background:#0c5963;}
	
	.campl-theme-2 .campl-menu-btn-arrow{background: #003a41 }
	.js .campl-theme-2 .campl-menu-btn-arrow a:focus, 
	.js .campl-theme-2 .campl-menu-btn-arrow a:hover{background-color:#003a41;}
	.campl-theme-2 .campl-menu-indicator{background-color:#0c5963;}

	.js .campl-theme-2 .campl-local-navigation-container li:first-child a{border-top:1px solid #003a41;}
	
	.js .campl-theme-2 .campl-local-navigation-container li.campl-back-link a,
	.js .campl-theme-2 .campl-local-navigation-container li.campl-sub li.campl-back-link a,
	.js .campl-theme-2 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a,
	.js .campl-theme-2 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a {border-bottom:1px solid #0c5963; background-color: #003a41;}
	
	.js .campl-theme-2 .campl-local-navigation-container li.campl-back-link a:focus,
	.js .campl-theme-2 .campl-local-navigation-container li.campl-back-link a:hover,
	.js .campl-theme-2 .campl-local-navigation-container li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-2 .campl-local-navigation-container li.campl-sub li.campl-back-link a:hover,
	.js .campl-theme-2 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-2 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:hover,
	.js .campl-theme-2 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-2 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:hover{background-color:#0c5963;}
	
	/*theme 3*/
	.js .campl-theme-3 .campl-local-navigation a{background:#422E5D;border-right:0;border-top:0}
	.campl-theme-3 .campl-local-navigation li a{border-bottom:1px solid #612d70;}
	.js .campl-theme-3 .campl-local-navigation li li a,
	.js .campl-theme-3 .campl-local-navigation li.campl-sub li.campl-sub a{background-color:#422E5D;}
	
	.js .campl-theme-3 .campl-local-navigation li.campl-title a,
	.js .campl-theme-3 .campl-local-navigation li.campl-sub li.campl-title a,
	.js .campl-theme-3 .campl-local-navigation li.campl-sub li.campl-sub li.campl-title a,
	.js .campl-theme-3 .campl-local-navigation a:focus,
	.js .campl-theme-3 .campl-local-navigation a:hover,
	.js .campl-theme-3 .campl-local-navigation a:active{background-color:#612d70;}
	
	.js .campl-theme-3 .campl-local-navigation li.campl-sub a:focus, 
	.js .campl-theme-3 .campl-local-navigation li.campl-sub a:hover{background-color: #612d70}
	.js .campl-theme-3 .campl-local-navigation li.campl-sub li a:focus, 
	.js .campl-theme-3 .campl-local-navigation li.campl-sub li a:hover{background-color: #612d70;}

	.js .campl-theme-3 .campl-menu-btn a{border:0;background:#612d70;}
	
	.campl-theme-3 .campl-menu-btn-arrow{background: #35254a }
	.js .campl-theme-3 .campl-menu-btn-arrow a:focus, 
	.js .campl-theme-3 .campl-menu-btn-arrow a:hover{background-color:#35254a;}
	.campl-theme-3 .campl-menu-indicator{background-color:#612d70;}

	.js .campl-theme-3 .campl-local-navigation-container li:first-child a{border-top:1px solid #35254a;}
	
	.js .campl-theme-3 .campl-local-navigation-container li.campl-back-link a,
	.js .campl-theme-3 .campl-local-navigation-container li.campl-sub li.campl-back-link a,
	.js .campl-theme-3 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a,
	.js .campl-theme-3 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a {border-bottom:1px solid #612d70; background-color: #35254a;}
	
	.js .campl-theme-3 .campl-local-navigation-container li.campl-back-link a:focus,
	.js .campl-theme-3 .campl-local-navigation-container li.campl-back-link a:hover,
	.js .campl-theme-3 .campl-local-navigation-container li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-3 .campl-local-navigation-container li.campl-sub li.campl-back-link a:hover,
	.js .campl-theme-3 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-3 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:hover,
	.js .campl-theme-3 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-3 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:hover{background-color:#612d70;}
	
	/*theme 4*/
	.js .campl-theme-4 .campl-local-navigation a{background:#304220;border-right:0;border-top:0}
	.campl-theme-4 .campl-local-navigation li a{border-bottom:1px solid #355918;}
	.js .campl-theme-4 .campl-local-navigation li li a,
	.js .campl-theme-4 .campl-local-navigation li.campl-sub li.campl-sub a{background-color:#304220;}
	
	.js .campl-theme-4 .campl-local-navigation li.campl-title a,
	.js .campl-theme-4 .campl-local-navigation li.campl-sub li.campl-title a,
	.js .campl-theme-4 .campl-local-navigation li.campl-sub li.campl-sub li.campl-title a,
	.js .campl-theme-4 .campl-local-navigation a:focus,
	.js .campl-theme-4 .campl-local-navigation a:hover,
	.js .campl-theme-4 .campl-local-navigation a:active{background-color:#355918;}
	
	.js .campl-theme-4 .campl-local-navigation li.campl-sub a:focus, 
	.js .campl-theme-4 .campl-local-navigation li.campl-sub a:hover{background-color: #355918}
	.js .campl-theme-4 .campl-local-navigation li.campl-sub li a:focus, 
	.js .campl-theme-4 .campl-local-navigation li.campl-sub li a:hover{background-color: #355918;}

	.js .campl-theme-4 .campl-menu-btn a{border:0;background:#355918;}
	
	.campl-theme-4 .campl-menu-btn-arrow{background: #222f16 }
	.js .campl-theme-4 .campl-menu-btn-arrow a:focus, 
	.js .campl-theme-4 .campl-menu-btn-arrow a:hover{background-color:#222f16;}
	.campl-theme-4 .campl-menu-indicator{background-color:#355918;}

	.js .campl-theme-4 .campl-local-navigation-container li:first-child a{border-top:1px solid #222f16;}
	
	.js .campl-theme-4 .campl-local-navigation-container li.campl-back-link a,
	.js .campl-theme-4 .campl-local-navigation-container li.campl-sub li.campl-back-link a,
	.js .campl-theme-4 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a,
	.js .campl-theme-4 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a {border-bottom:1px solid #355918; background-color: #222f16;}
	
	.js .campl-theme-4 .campl-local-navigation-container li.campl-back-link a:focus,
	.js .campl-theme-4 .campl-local-navigation-container li.campl-back-link a:hover,
	.js .campl-theme-4 .campl-local-navigation-container li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-4 .campl-local-navigation-container li.campl-sub li.campl-back-link a:hover,
	.js .campl-theme-4 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-4 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:hover,
	.js .campl-theme-4 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-4 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:hover{background-color:#355918;}
	
	/*theme 5*/
	.js .campl-theme-5 .campl-local-navigation a{background:#c44101;border-right:0;border-top:0}
	.campl-theme-5 .campl-local-navigation li a{border-bottom:1px solid #ab3901;}
	.js .campl-theme-5 .campl-local-navigation li li a,
	.js .campl-theme-5 .campl-local-navigation li.campl-sub li.campl-sub a{background-color:#c44101;}
	
	.js .campl-theme-5 .campl-local-navigation li.campl-title a,
	.js .campl-theme-5 .campl-local-navigation li.campl-sub li.campl-title a,
	.js .campl-theme-5 .campl-local-navigation li.campl-sub li.campl-sub li.campl-title a,
	.js .campl-theme-5 .campl-local-navigation a:focus,
	.js .campl-theme-5 .campl-local-navigation a:hover,
	.js .campl-theme-5 .campl-local-navigation a:active{background-color:#ab3901;}
	
	.js .campl-theme-5 .campl-local-navigation li.campl-sub a:focus, 
	.js .campl-theme-5 .campl-local-navigation li.campl-sub a:hover{background-color: #ab3901}
	.js .campl-theme-5 .campl-local-navigation li.campl-sub li a:focus, 
	.js .campl-theme-5 .campl-local-navigation li.campl-sub li a:hover{background-color: #ab3901;}

	.js .campl-theme-5 .campl-menu-btn a{border:0;background:#ab3901;}
	
	.campl-theme-5 .campl-menu-btn-arrow{background: #772801 }
	.js .campl-theme-5 .campl-menu-btn-arrow a:focus, 
	.js .campl-theme-5 .campl-menu-btn-arrow a:hover{background-color:#772801;}
	.campl-theme-5 .campl-menu-indicator{background-color:#ab3901;}

	.js .campl-theme-5 .campl-local-navigation-container li:first-child a{border-top:1px solid #772801;}
	
	.js .campl-theme-5 .campl-local-navigation-container li.campl-back-link a,
	.js .campl-theme-5 .campl-local-navigation-container li.campl-sub li.campl-back-link a,
	.js .campl-theme-5 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a,
	.js .campl-theme-5 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a {border-bottom:1px solid #ab3901; background-color: #772801;}
	
	.js .campl-theme-5 .campl-local-navigation-container li.campl-back-link a:focus,
	.js .campl-theme-5 .campl-local-navigation-container li.campl-back-link a:hover,
	.js .campl-theme-5 .campl-local-navigation-container li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-5 .campl-local-navigation-container li.campl-sub li.campl-back-link a:hover,
	.js .campl-theme-5 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-5 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:hover,
	.js .campl-theme-5 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-5 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:hover{background-color:#ab3901;}
	
	/*theme 6*/
	.js .campl-theme-6 .campl-local-navigation a{background:#851735;border-right:0;border-top:0}
	.campl-theme-6 .campl-local-navigation li a{border-bottom:1px solid #a51137;}
	.js .campl-theme-6 .campl-local-navigation li li a,
	.js .campl-theme-6 .campl-local-navigation li.campl-sub li.campl-sub a{background-color:#851735;}
	
	.js .campl-theme-6 .campl-local-navigation li.campl-title a,
	.js .campl-theme-6 .campl-local-navigation li.campl-sub li.campl-title a,
	.js .campl-theme-6 .campl-local-navigation li.campl-sub li.campl-sub li.campl-title a,
	.js .campl-theme-6 .campl-local-navigation a:focus,
	.js .campl-theme-6 .campl-local-navigation a:hover,
	.js .campl-theme-6 .campl-local-navigation a:active{background-color:#a51137;}
	
	.js .campl-theme-6 .campl-local-navigation li.campl-sub a:focus, 
	.js .campl-theme-6 .campl-local-navigation li.campl-sub a:hover{background-color: #a51137}
	.js .campl-theme-6 .campl-local-navigation li.campl-sub li a:focus, 
	.js .campl-theme-6 .campl-local-navigation li.campl-sub li a:hover{background-color: #a51137;}

	.js .campl-theme-6 .campl-menu-btn a{border:0;background:#a51137;}
	
	.campl-theme-6 .campl-menu-btn-arrow{background: #6c112a }
	.js .campl-theme-6 .campl-menu-btn-arrow a:focus, 
	.js .campl-theme-6 .campl-menu-btn-arrow a:hover{background-color:#6c112a;}
	.campl-theme-6 .campl-menu-indicator{background-color:#a51137;}

	.js .campl-theme-6 .campl-local-navigation-container li:first-child a{border-top:1px solid #6c112a;}
	
	.js .campl-theme-6 .campl-local-navigation-container li.campl-back-link a,
	.js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-back-link a,
	.js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a,
	.js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a {border-bottom:1px solid #a51137; background-color: #6c112a;}
	
	.js .campl-theme-6 .campl-local-navigation-container li.campl-back-link a:focus,
	.js .campl-theme-6 .campl-local-navigation-container li.campl-back-link a:hover,
	.js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-back-link a:hover,
	.js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-back-link a:hover,
	.js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:focus,
	.js .campl-theme-6 .campl-local-navigation-container li.campl-sub li.campl-sub li.campl-sub li.campl-back-link a:hover{background-color:#a51137;}

}

/*reset background colour of themed tables with th in tbody*/
.campl-theme-1 tbody th, .campl-theme-2 tbody th, .campl-theme-3 tbody th, .campl-theme-4 tbody th, .campl-theme-5 tbody th, .campl-theme-6 tbody th{background:#fff;color:#222;border-bottom:0}
table th{border-bottom:#e4e4e4 1px solid}
.campl-table tbody tr:hover td, .campl-table tbody tr:hover th, 
.campl-theme-1 .campl-table tbody tr:hover td, .campl-theme-1 .campl-table tbody tr:hover th, 
.campl-theme-2 .campl-table tbody tr:hover td, .campl-theme-2 .campl-table tbody tr:hover th, 
.campl-theme-3 .campl-table tbody tr:hover td, .campl-theme-3 .campl-table tbody tr:hover th, 
.campl-theme-4 .campl-table tbody tr:hover td, .campl-theme-4 .campl-table tbody tr:hover th, 
.campl-theme-5 .campl-table tbody tr:hover td, .campl-theme-5 .campl-table tbody tr:hover th, 
.campl-theme-6 .campl-table tbody tr:hover td, .campl-theme-6 .campl-table tbody tr:hover th{background-color: #e4e4e4;}
.campl-vertical-stacking-table th{border-left:#e4e4e4 1px solid}
