/* events */
.campl-event-details{border:1px solid #e4e4e4;border-width:1px 0 1px 0;}
.campl-event-details-dl{float:left;margin:0;padding:0}
.campl-event-details-dl dt, .campl-event-details-dl dd{float:left;margin:0;padding:5px 10px 5px 0;}

.campl-events-cta{float:right}
.campl-events-cta li{margin-left:10px}


/* anything smaller than tablet portrait ie. mobile devices */
@media (max-width: 767px) {
	.campl-event-details-dl dt, .campl-event-details-dl dd, .campl-event-details-dl{float:none}
	.campl-event-details, .campl-column6 .campl-event-details{background-image:none}
	
	.campl-current-date{padding:7px 0 8px 0}

	.campl-event-cta-container{padding:30px 20px 0 20px}
	.campl-events-cta {float:none}
	.campl-events-cta li{margin-left:0;float:none;margin-bottom:30px}

}
