/* paging controls */
.campl-paging{margin-top:-38px}
	
.campl-paging-btn{width:38px;height:38px;display:block;position:relative;}
.campl-arrow-span{width:8px;height:11px;background-position:0 0;background-repeat:no-repeat;display:block;position:absolute;left:50%;margin-left:-3px;top:50%;margin-top:-5px }

.campl-paging-btn:focus, .campl-paging-btn:hover{background:#454545}
.campl-next .campl-arrow-span {background-image:url(../images/interface/icon-fwd-btn-larger.png)}
.campl-previous .campl-arrow-span{background-image:url(../images/interface/icon-back-btn-larger.png)}

.campl-current-date{color:#fff;line-height:38px;margin:0 39px;position:relative;right:39px;left:0;background:#171717;}
.lt-ie8 .campl-current-date{padding:2px 0 3px 0}
.campl-paging-container{text-align:center;}	
.campl-paging .campl-previous-li{float:left;border-right:1px solid #fff}
.campl-paging .campl-next-li{float:right;border-left:1px solid #fff}

/* .pagination */
.campl-pagination {height: 36px;margin: 18px 0;position:relative;}
.campl-pagination ul {display: inline-block;margin-bottom: 0;margin-left: 0;}
.lt-ie8 .campl-pagination ul {display: inline;zoom: 1}
.campl-pagination li {display: inline;}
.campl-pagination a, .campl-elipsis{float: left;padding: 5px 7px;line-height: 12px;text-decoration: none;border: 1px solid #d6d6d6;margin:0 2px;}
.campl-elipsis{border:0}
.campl-pagination a:hover,.campl-pagination .campl-active a {background-color: #f2f2f2;color:#000000;}

.campl-pagination .campl-active a {cursor: default;font-weight:bold;}

.campl-pagination-centered {text-align: center;}

.campl-pagination-right {text-align: right;}

.campl-pagination .campl-pagination-btn{border:0;width:8px;height:14px;display:block;position:relative;background:#000}
.campl-pagination .campl-pagination-btn:hover{background:#454545}
.campl-pagination .campl-previous-li{left:0;top:50%;margin-top:-6px}
.campl-pagination .campl-next-li{right:0;top:50%;margin-top:-6px}

/* tablet landscape */
@media only screen and (max-width: 1024px){
	.campl-pagination a, .campl-elipsis{padding: 8px 15px;line-height: 20px;}
	
	.campl-pagination .campl-pagination-btn{width:11px;height:22px;}
	.campl-pagination .campl-pagination-btn:focus, .campl-pagination .pagination-btn:hover{background:#454545}
	.campl-pagination .campl-previous-li{left:0;top:50%;margin-top:-10px}
	.campl-pagination .campl-next-li{right:0;top:50%;margin-top:-10px}
	
	.campl-next-li{right:0;left:auto;}
}

