/* Tables */
td, th { vertical-align: top; }
table {max-width: 100%;background-color: transparent;border-collapse: collapse;border-spacing: 0;}
.campl-table {width: 100%;margin-bottom: 18px;}
.campl-table th,.campl-table td {padding: 10px 15px;line-height: 18px;text-align: left;vertical-align: top}
.campl-table th {font-weight: bold;}
.campl-table thead th {vertical-align: bottom;}
.campl-table caption + thead tr:first-child th,
.campl-table caption + thead tr:first-child td,
.campl-table colgroup + thead tr:first-child th,
.campl-table colgroup + thead tr:first-child td,
.campl-table thead:first-child tr:first-child th,
.campl-table thead:first-child tr:first-child td {border-top: 0;}

.campl-table-condensed th,.campl-table-condensed td {padding: 4px 5px;}
.campl-table-bordered {border-left:1px solid #e4e4e4;border-right:1px solid #e4e4e4;border-collapse: separate;border-left: 0;}
.lt-ie8 .campl-table-bordered {border-collapse: collapsed;}

.campl-table-bordered td { border-left: 1px solid #e4e4e4;}
.campl-table-bordered caption + thead tr:first-child th,
.campl-table-bordered caption + tbody tr:first-child th,
.campl-table-bordered caption + tbody tr:first-child td,
.campl-table-bordered colgroup + thead tr:first-child th,
.campl-table-bordered colgroup + tbody tr:first-child th,
.campl-table-bordered colgroup + tbody tr:first-child td,
.campl-table-bordered thead:first-child tr:first-child th,
.campl-table-bordered tbody:first-child tr:first-child th,
.campl-table-bordered tbody:first-child tr:first-child td {border-top: 0;}

.campl-table-heading{display:none;font-weight:bold;padding-right: 10px; white-space: wrap;}

caption{background:#fff;padding:5px 0}
.campl-responsive-table{position:relative}
.campl-expanded-table{width:1074px;}
.campl-full-width-table{width:1024px; max-width:1024px;}

.js .campl-event-dates{display:none}
.dp_highlighted a{display:block;position:relative;}
.campl-event-indicator{width:5px;height:5px;position:absolute;bottom:-4px;left:-2px;display:block;background:#f3f3f3}

/* anything smaller than tablet portrait ie. mobile devices */
@media (max-width: 767px) {

	.campl-table th, .campl-table td {line-height: 24px}

	/* Force table to not be like tables anymore */
	.campl-vertical-stacking-table table, .campl-vertical-stacking-table thead, .campl-vertical-stacking-table tbody, .campl-vertical-stacking-table th, .campl-vertical-stacking-table td, .campl-vertical-stacking-table tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.campl-vertical-stacking-table thead tr { position: absolute;top: -9999px;left: -9999px;}
	
	.campl-vertical-stacking-table tr { border: 1px solid #ccc; }
	
	/* Behave  like a "row" */
	.campl-vertical-stacking-table td {	border: none;border-bottom: 1px solid #e4e4e4; }
	.campl-vertical-stacking-table td:before { white-space: wrap;}
	.campl-table-heading{display:block;}
}