/* teasers */
.campl-teaser {clear:both}
.campl-teaser p{margin-bottom:20px;}

.campl-teaser-img-link{position:relative;display:block}
.campl-overlay{width:60px;height:60px;background: url(../images/interface/icon-media-sprite.png) 0 0 no-repeat;position:absolute;bottom:0;right:0;}
.campl-audio-overlay{background-position:-10px -10px}
.campl-video-overlay{background-position:-11px -108px}
.campl-teaser-img-link:focus .campl-audio-overlay, .campl-teaser-img-link:hover .campl-audio-overlay{background-position:-97px -10px}
.campl-teaser-img-link:focus .campl-video-overlay, .campl-teaser-img-link:hover .campl-video-overlay{background-position:-98px -108px}

.campl-focus-teaser{margin-bottom:20px;position:relative}
.campl-focus-teaser-img{width: 41.6667%;float: left;margin-right: 0;padding: 0;}
.campl-focus-teaser-txt{width: 58.3333%;float: left;margin-right: 0;padding: 0;}

.lt-ie8 .campl-focus-teaser-img{width: 41.1667%;}
.lt-ie8 .campl-focus-teaser-txt{width: 58.1333%;}

.campl-vertical-teaser-img{position:relative}
.campl-topic{position:absolute;top:0;left:0;z-index:12}

/* anything smaller than tablet portrait ie. mobile devices */
@media (max-width: 767px) {
	.campl-horizontal-teaser-img{padding:0 0 20px 0 }
	.campl-horizontal-teaser-txt{padding:0 0 0 0 }
	.campl-overlay{right:auto;left:0}
}
